In [178]:
import pandas as pd

In [179]:
df = pd.read_csv('data.csv')

In [180]:
df

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Asian,RACE,RACEASN
53388,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
53389,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
53390,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
53391,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Other,RACE,RACEOTH

In [181]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   53392 non-null  int64
 1   YearEnd                     53392 non-null  int64
 2   LocationAbbr                53392 non-null  object
 3   LocationDesc                53392 non-null  object
 4   Datasource                  53392 non-null  object
 5   Class                       53392 non-null  object
 6   Topic                       53392 non-null  object
 7   Question                    53392 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             53392 non-null  object
 10  Data_Value                  48346 non-null  float64
 11  Data_Value_Alt              48346 non-null  float64
 12  Data_Value_Footnote_Symbol  5046 non-null   object
 13  Data_Value_Footnote         5046 non-null   object
 14  Low_Confidence_Limit        48346 non-null  float64
 15  High_Confidence_Limit       48346 non-null  float64
 16  Sample_Size                 48346 non-null  float64
 17  Total                       1907 non-null   object
 18  Age(years)                  11438 non-null  object
 19  Education                   7628 non-null   object
 20  Gender                      3814 non-null   object
 21  Income                      13349 non-null  object
 22  Race/Ethnicity              15256 non-null  object
 23  GeoLocation                 52384 non-null  object
 24  ClassID                     53392 non-null  object
 25  TopicID                     53392 non-null  object
 26  QuestionID                  53392 non-null  object
 27  DataValueTypeID             53392 non-null  object
 28  LocationID                  53392 non-null  int64
 29  StratificationCategory1     53392 non-null  object
 30  Stratification1             53392 non-null  object
 31  StratificationCategoryId1   53392 non-null  object
 32  StratificationID1           53392 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 13.4+ MB

In [183]:
df['YearStart'].unique()

array([2011, 2012, 2014, 2013, 2015, 2016])

In [184]:
df['Question'].nunique()

9

In [185]:
df['Question'].unique()

array(['Percent of adults aged 18 years and older who have obesity',
       'Percent of adults aged 18 years and older who have an overweight classification',
       'Percent of adults who report consuming fruit less than one time daily',
       'Percent of adults who report consuming vegetables less than one time daily',
       'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who engage in no leisure-time physical activity'],
      dtype=object)

In [186]:
df['Datasource'].nunique()

1

In [187]:
df['Class'].nunique()

3

In [188]:
df['Class'].unique()

array(['Obesity / Weight Status', 'Fruits and Vegetables',
       'Physical Activity'], dtype=object)

In [189]:
df['Topic'].unique()

array(['Obesity / Weight Status', 'Fruits and Vegetables - Behavior',
       'Physical Activity - Behavior'], dtype=object)

In [190]:
df['Data_Value'].nunique()

669

In [191]:
df['Data_Value_Alt'].nunique()

669

In [192]:
df['Data_Value_Footnote'].unique()

array([nan, 'Data not available because sample size is insufficient.',
       'Data not available because sample size is insufficient.  If data only missing for the confidence interval, the confidence interval was not calculated.'],
      dtype=object)

In [193]:
df['StratificationCategory1'].unique()

array(['Total', 'Gender', 'Education', 'Age (years)', 'Income',
       'Race/Ethnicity'], dtype=object)

In [194]:
df['Race/Ethnicity'].unique()

array([nan, 'Non-Hispanic White', 'Non-Hispanic Black', 'Hispanic',
       'Asian', 'Hawaiian/Pacific Islander',
       'American Indian/Alaska Native', '2 or more races', 'Other'],
      dtype=object)

In [195]:
df['Sample_Size']

0        7304.0
1        2581.0
2        4723.0
3        1153.0
4        2402.0
          ...
53387       NaN
53388       NaN
53389       NaN
53390       NaN
53391       NaN
Name: Sample_Size, Length: 53392, dtype: float64

In [196]:
df.isnull().sum()

YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
Datasource                        0
Class                             0
Topic                             0
Question                          0
Data_Value_Unit               53392
Data_Value_Type                   0
Data_Value                     5046
Data_Value_Alt                 5046
Data_Value_Footnote_Symbol    48346
Data_Value_Footnote           48346
Low_Confidence_Limit           5046
High_Confidence_Limit          5046
Sample_Size                    5046
Total                         51485
Age(years)                    41954
Education                     45764
Gender                        49578
Income                        40043
Race/Ethnicity                38136
GeoLocation                    1008
ClassID                           0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
LocationID                        0
StratificationCategory1           0
Stratification1                   0
StratificationCategoryId1         0
StratificationID1                 0
dtype: int64

In [197]:
df = df.dropna(subset=['Sample_Size'])

In [198]:
df.isnull().sum()

YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
Datasource                        0
Class                             0
Topic                             0
Question                          0
Data_Value_Unit               48346
Data_Value_Type                   0
Data_Value                        0
Data_Value_Alt                    0
Data_Value_Footnote_Symbol    48346
Data_Value_Footnote           48346
Low_Confidence_Limit              0
High_Confidence_Limit             0
Sample_Size                       0
Total                         46439
Age(years)                    36908
Education                     40718
Gender                        44532
Income                        34997
Race/Ethnicity                38136
GeoLocation                    1008
ClassID                           0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
LocationID                        0
StratificationCategory1           0
Stratification1                   0
StratificationCategoryId1         0
StratificationID1                 0
dtype: int64

In [199]:
final_dataset = df[['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc',
       'Class', 'Topic', 'Question','Data_Value','Sample_Size', 
       'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation']]

In [200]:
final_dataset.isnull().sum()

YearStart             0
YearEnd               0
LocationAbbr          0
LocationDesc          0
Class                 0
Topic                 0
Question              0
Data_Value            0
Sample_Size           0
Total             46439
Age(years)        36908
Education         40718
Gender            44532
Income            34997
Race/Ethnicity    38136
GeoLocation        1008
dtype: int64

In [201]:
final_dataset["Year"] = final_dataset["YearEnd"]

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_3128/2237960028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataset["Year"] = final_dataset["YearEnd"]

In [202]:
final_dataset.isnull().sum()

YearStart             0
YearEnd               0
LocationAbbr          0
LocationDesc          0
Class                 0
Topic                 0
Question              0
Data_Value            0
Sample_Size           0
Total             46439
Age(years)        36908
Education         40718
Gender            44532
Income            34997
Race/Ethnicity    38136
GeoLocation        1008
Year                  0
dtype: int64

In [203]:
final_dataset.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Class,Topic,Question,Data_Value,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity,GeoLocation,Year
0,2011,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.0,7304.0,Total,NaN,NaN,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)",2011
1,2011,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.3,2581.0,NaN,NaN,NaN,Male,NaN,NaN,"(32.84057112200048, -86.63186076199969)",2011
2,2011,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,31.8,4723.0,NaN,NaN,NaN,Female,NaN,NaN,"(32.84057112200048, -86.63186076199969)",2011
3,2011,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,33.6,1153.0,NaN,NaN,Less than high school,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)",2011
4,2011,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.8,2402.0,NaN,NaN,High school graduate,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)",2011

In [204]:
final_dataset = final_dataset[['Year', 'LocationAbbr', 'LocationDesc',
       'Class', 'Topic', 'Question','Data_Value','Sample_Size', 
       'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation']]

In [205]:
final_dataset.head()

,Year,LocationAbbr,LocationDesc,Class,Topic,Question,Data_Value,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity,GeoLocation
0,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.0,7304.0,Total,NaN,NaN,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)"
1,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.3,2581.0,NaN,NaN,NaN,Male,NaN,NaN,"(32.84057112200048, -86.63186076199969)"
2,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,31.8,4723.0,NaN,NaN,NaN,Female,NaN,NaN,"(32.84057112200048, -86.63186076199969)"
3,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,33.6,1153.0,NaN,NaN,Less than high school,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)"
4,2011,AL,Alabama,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.8,2402.0,NaN,NaN,High school graduate,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)"

In [206]:
final_dataset.drop(['Class'],axis=1,inplace=True)

In [207]:
final_dataset.head()

,Year,LocationAbbr,LocationDesc,Topic,Question,Data_Value,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity,GeoLocation
0,2011,AL,Alabama,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.0,7304.0,Total,NaN,NaN,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)"
1,2011,AL,Alabama,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.3,2581.0,NaN,NaN,NaN,Male,NaN,NaN,"(32.84057112200048, -86.63186076199969)"
2,2011,AL,Alabama,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,31.8,4723.0,NaN,NaN,NaN,Female,NaN,NaN,"(32.84057112200048, -86.63186076199969)"
3,2011,AL,Alabama,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,33.6,1153.0,NaN,NaN,Less than high school,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)"
4,2011,AL,Alabama,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.8,2402.0,NaN,NaN,High school graduate,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)"

In [208]:
final_dataset['Age(years)'].unique()

array([nan, '18 - 24', '25 - 34', '35 - 44', '45 - 54', '55 - 64',
       '65 or older'], dtype=object)

In [209]:
final_dataset['Education'].unique()

array([nan, 'Less than high school', 'High school graduate',
       'Some college or technical school', 'College graduate'],
      dtype=object)

## We will be trying to drop the total column as it gives us the combination of all the different classifications and we will also do one-hot encoding in all this but before that we will only choose the questions which has obesity/over wieght involved

In [210]:
final_dataset1 = final_dataset.loc[final_dataset['Topic'] == 'Obesity / Weight Status']

In [211]:
final_dataset1['Topic'].unique()

array(['Obesity / Weight Status'], dtype=object)

In [212]:
final_dataset1.drop(['Topic','LocationDesc','Question','GeoLocation'],axis=1,inplace=True)

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_3128/2829887414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataset1.drop(['Topic','LocationDesc','Question','GeoLocation'],axis=1,inplace=True)

In [213]:
final_dataset1.head()

,Year,LocationAbbr,Data_Value,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity
0,2011,AL,32.0,7304.0,Total,NaN,NaN,NaN,NaN,NaN
1,2011,AL,32.3,2581.0,NaN,NaN,NaN,Male,NaN,NaN
2,2011,AL,31.8,4723.0,NaN,NaN,NaN,Female,NaN,NaN
3,2011,AL,33.6,1153.0,NaN,NaN,Less than high school,NaN,NaN,NaN
4,2011,AL,32.8,2402.0,NaN,NaN,High school graduate,NaN,NaN,NaN

In [214]:
final_dataset1.shape

(16254, 10)

## Approach 1:One Hot Encoder

In [222]:
data = pd.get_dummies(data=final_dataset1,columns=['Total','Age(years)','Education','Gender','Income','Race/Ethnicity'],drop_first=True)

In [224]:
data.head()

,Year,LocationAbbr,Data_Value,Sample_Size,Age(years)_25 - 34,Age(years)_35 - 44,Age(years)_45 - 54,Age(years)_55 - 64,Age(years)_65 or older,Education_High school graduate,...,"Income_$75,000 or greater",Income_Data not reported,"Income_Less than $15,000",Race/Ethnicity_American Indian/Alaska Native,Race/Ethnicity_Asian,Race/Ethnicity_Hawaiian/Pacific Islander,Race/Ethnicity_Hispanic,Race/Ethnicity_Non-Hispanic Black,Race/Ethnicity_Non-Hispanic White,Race/Ethnicity_Other
0,2011,AL,32.0,7304.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2011,AL,32.3,2581.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011,AL,31.8,4723.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2011,AL,33.6,1153.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2011,AL,32.8,2402.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [225]:
data.shape

(16254, 26)

## Approach 2:Label Encoder

In [227]:
final_dataset1[['Age(years)','Education','Income']].fillna(0)

      Age(years)              Education              Income
0              0                      0                   0
1              0                      0                   0
2              0                      0                   0
3              0  Less than high school                   0
4              0   High school graduate                   0
...          ...                    ...                 ...
51842          0                      0  $75,000 or greater
51843          0                      0   Data not reported
51844          0                      0                   0
51845          0                      0                   0
51846          0                      0                   0

[16254 rows x 3 columns]

In [230]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
final_dataset1[['Age(years)','Education','Income']]= label_encoder.fit_transform(final_dataset1[['Age(years)','Education','Income']])
  
final_dataset1[['Age(years)','Education','Income']].unique()

ValueError: y should be a 1d array, got an array of shape (16254, 3) instead.