In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [4]:
df

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Asian,RACE,RACEASN
53388,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
53389,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
53390,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
53391,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Other,RACE,RACEOTH

In [5]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   53392 non-null  int64
 1   YearEnd                     53392 non-null  int64
 2   LocationAbbr                53392 non-null  object
 3   LocationDesc                53392 non-null  object
 4   Datasource                  53392 non-null  object
 5   Class                       53392 non-null  object
 6   Topic                       53392 non-null  object
 7   Question                    53392 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             53392 non-null  object
 10  Data_Value                  48346 non-null  float64
 11  Data_Value_Alt              48346 non-null  float64
 12  Data_Value_Footnote_Symbol  5046 non-null   object
 13  Data_Value_Footnote         5046 non-null   object
 14  Low_Confidence_Limit        48346 non-null  float64
 15  High_Confidence_Limit       48346 non-null  float64
 16  Sample_Size                 48346 non-null  float64
 17  Total                       1907 non-null   object
 18  Age(years)                  11438 non-null  object
 19  Education                   7628 non-null   object
 20  Gender                      3814 non-null   object
 21  Income                      13349 non-null  object
 22  Race/Ethnicity              15256 non-null  object
 23  GeoLocation                 52384 non-null  object
 24  ClassID                     53392 non-null  object
 25  TopicID                     53392 non-null  object
 26  QuestionID                  53392 non-null  object
 27  DataValueTypeID             53392 non-null  object
 28  LocationID                  53392 non-null  int64
 29  StratificationCategory1     53392 non-null  object
 30  Stratification1             53392 non-null  object
 31  StratificationCategoryId1   53392 non-null  object
 32  StratificationID1           53392 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 13.4+ MB

In [7]:
df['YearStart'].unique()

array([2011, 2012, 2014, 2013, 2015, 2016])

In [8]:
df['Question'].nunique()

9

In [9]:
df['Question'].unique()

array(['Percent of adults aged 18 years and older who have obesity',
       'Percent of adults aged 18 years and older who have an overweight classification',
       'Percent of adults who report consuming fruit less than one time daily',
       'Percent of adults who report consuming vegetables less than one time daily',
       'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who engage in no leisure-time physical activity'],
      dtype=object)

In [10]:
df['Datasource'].nunique()

1

In [11]:
df['Class'].nunique()

3

In [12]:
df['Class'].unique()

array(['Obesity / Weight Status', 'Fruits and Vegetables',
       'Physical Activity'], dtype=object)

In [13]:
df['Topic'].unique()

array(['Obesity / Weight Status', 'Fruits and Vegetables - Behavior',
       'Physical Activity - Behavior'], dtype=object)

In [14]:
df['Data_Value'].nunique()

669

In [15]:
df['Data_Value_Alt'].nunique()

669

In [16]:
df['Data_Value_Footnote'].unique()

array([nan, 'Data not available because sample size is insufficient.',
       'Data not available because sample size is insufficient.  If data only missing for the confidence interval, the confidence interval was not calculated.'],
      dtype=object)

In [17]:
df['StratificationCategory1'].unique()

array(['Total', 'Gender', 'Education', 'Age (years)', 'Income',
       'Race/Ethnicity'], dtype=object)

In [18]:
df['Race/Ethnicity'].unique()

array([nan, 'Non-Hispanic White', 'Non-Hispanic Black', 'Hispanic',
       'Asian', 'Hawaiian/Pacific Islander',
       'American Indian/Alaska Native', '2 or more races', 'Other'],
      dtype=object)

In [19]:
df['Sample_Size']

0        7304.0
1        2581.0
2        4723.0
3        1153.0
4        2402.0
          ...
53387       NaN
53388       NaN
53389       NaN
53390       NaN
53391       NaN
Name: Sample_Size, Length: 53392, dtype: float64

In [20]:
df['Sample_Size'].isna().sum()

5046

In [22]:
df['Data_Value'].unique()

array([32. , 32.3, 31.8, 33.6, 32.8, 33.8, 26.4, 16.3, 35.2, 35.5, 38. ,
       36.4, 27.1, 38.5, 34.8, 35.8, 34.1, 28.8, 23.8, 29.8, 40.1, 28.6,
        nan, 32.9, 27.8, 34.7, 39. , 30.5, 33.2, 35. , 36.8, 31.9, 33.3,
       38.9, 28.4, 35.7, 36.6, 36.1, 36. , 30.1, 34.5, 31.4, 30.4, 43.8,
       35.4, 37.4, 39.5, 39.7, 41.2, 41.6, 41.8, 43.1, 43.9, 44.8, 45. ,
       45.5, 45.8, 46.9, 47.6, 47.9, 50.1, 51.4, 51.8, 24.3, 26.6, 22.3,
       20.8, 16. , 25.6, 23.7, 21.6, 27.7, 29.4, 19.7, 19.9, 14. , 26. ,
       20.7, 11.3, 32.2, 27.3, 22.1, 42.4, 45.4, 39.6, 31.5, 40.8, 44. ,
       52.6, 49.4, 41.9, 25.4, 39.3, 16.8, 40.2, 43.4, 38.8, 36.7, 48.7,
       41.3, 53.5, 37.9, 43. , 40.6, 15. , 17.3, 12.8,  7.7, 13.2, 22.6,
       27.2, 17. , 12.4,  9.5, 10.7, 11.1, 10.9, 12. , 16.5, 16.4, 21.2,
       15.6, 14.3, 13. , 15.3, 23.2, 23.9, 25.3, 22.7, 25.5, 25.8, 27.4,
       20.9, 22.8, 23.5, 28.7, 19.6, 25. , 28.3, 28.5, 22. , 24.4, 23.4,
       29.1, 24.7, 19.8, 18.8, 22.9, 18.1, 20.6, 26.2, 37.6, 21.4, 27. ,
       20.2, 17.7, 20.3, 32.6, 29.6, 35.3, 46.3, 33.5, 31.6, 22.5, 39.8,
       38.6, 27.9,  9.7, 42.5, 20.1, 33. , 34.4, 31.3, 40.3, 26.9, 29. ,
       28.9, 44.1, 24.1, 26.5, 18.5, 30.3, 35.6, 38.1, 34.2, 28.2, 37.5,
       37.7, 31.2, 34.3, 28. , 30.9, 21.3, 16.2, 15.2, 40.4, 26.1, 30.2,
       21.5, 30.7, 17.8, 32.4, 34. , 32.1, 27.6, 19. , 40. , 37.1, 37.2,
       35.1, 33.1, 31.1, 46.2, 24.8, 38.4, 41.5, 33.9, 40.7, 49.5, 44.2,
       51.2, 43.3, 48.8, 50.2, 47.1, 49.3, 50.4, 45.1, 47.7, 42.7, 39.4,
       51. , 10.2, 46. , 24.2, 15.9, 21.9, 29.9, 38.2, 32.5, 17.1, 25.7,
       25.9, 36.3, 16.6, 24.5, 50.6, 44.3, 40.9, 47.3, 42.1, 55.5, 21.7,
       25.1, 47.4, 48.3, 49.9, 39.9, 49. , 56.7, 12.6,  8.9, 12.5, 17.4,
       14.7, 10.5,  9.4, 18. , 18.7, 15.1, 17.2, 19.2, 30.6, 24. , 22.2,
       23.6, 31.7, 23.3, 25.2, 19.1, 34.6, 44.9, 24.9, 26.3, 26.7, 17.5,
       23.1, 36.9, 34.9, 28.1, 36.5, 29.7, 18.4, 20.4, 31. , 30.8, 33.4,
       32.7, 14.8, 33.7, 40.5, 37. , 29.3, 29.5, 29.2, 45.3, 38.7, 24.6,
       42.3, 43.7, 37.3, 39.1, 42.9, 43.6, 44.6, 45.6, 46.5, 47.5, 51.7,
       23. , 27.5, 19.4, 11.8, 17.9, 18.6, 57.9, 58.4, 57.4, 53.1, 59.3,
       67.2, 62.8, 57.6, 55.3, 56.2, 58.2, 58.9, 56. , 55.1, 63.2, 52.7,
       62. , 52.2, 21.1, 26.8, 15.7, 35.9, 37.8, 46.6, 51.9, 16.1, 18.9,
        9. ,  2.3, 22.4, 44.4, 41.1, 36.2, 46.1, 16.9, 30. , 14.4, 13.9,
       15.5, 21.8, 13.4, 38.3, 45.2, 42.8, 47. , 54.5, 43.2, 48.9, 57.2,
       44.5, 13.8,  7.5, 15.8, 11.7, 11.5, 19.3, 54.7, 55.9, 60.6, 51.3,
       58.1, 54. , 48.4, 49.2, 50.8, 53.2, 68. , 49.7, 55.2, 59.6, 54.4,
       53.4, 20.5, 48.5, 11.9, 42.2, 44.7,  8.7, 21. , 12.3, 46.7, 47.8,
       12.2, 20. , 14.9, 18.2,  9.3, 52.8, 54.8, 50.7, 42. , 64.4, 52.5,
       53. , 59.7, 61.6, 59.4, 59.5, 57.1, 56.8, 42.6, 62.4, 13.7,  4.3,
       41.7, 41. , 39.2, 49.1, 59.2, 54.2, 49.8, 61.3, 52.1, 52.4, 58.6,
       50.5, 50.3, 17.6, 11.4, 41.4, 13.3,  6.6, 11. , 10.1, 55.7, 45.7,
       55.4, 16.7, 12.7,  9.9, 48.6, 54.1, 51.6, 43.5, 45.9,  5.4, 14.5,
        9.1,  7.4, 12.1, 15.4,  8.4, 13.1, 18.3, 53.6,  8.1, 10.4, 14.1,
       14.2, 57.5, 55. , 61.5, 48.1, 66.2, 54.6, 64.3, 56.6, 60.4, 66.8,
       60.7, 65.3, 56.4, 66. , 48. , 13.6, 10.6, 14.6, 10.8, 10.3, 19.5,
       54.3, 72.3, 60.2, 56.9, 55.8, 59.9, 64.8, 56.3, 63.3, 11.6,  7.8,
       61.8, 61.9, 68.9, 67.5, 64.5, 61.2, 64.2, 63.6, 67.9, 66.3, 49.6,
        8.8,  9.2,  7.1,  9.8, 61.4, 60.8, 60.1, 61.7, 69.5, 59.8, 68.6,
       63.7, 58.8, 48.2, 46.8,  8.6, 53.9,  6.3, 51.1, 56.5, 50.9,  9.6,
        5.6, 11.2, 12.9, 52. , 50. , 47.2, 13.5,  7.3,  2.1,  8.3, 46.4,
        2.9,  8.2, 53.3,  8.5,  0.9,  3.6, 66.1, 70.1, 70.2, 71.7, 10. ,
        4.6,  7.6,  5. , 51.5, 56.1, 60.3, 58.3, 57.7, 66.4,  5.9,  6.2,
       54.9, 53.8, 57.3, 65.4, 62.3, 61.1, 72.6, 52.9, 58.5, 63.1, 64.7,
       62.6, 69.3, 63.9, 66.7, 59.1, 60.5, 65. , 59. , 70. , 64.9,  6.8,
       60. , 65.8, 63.8, 74.6, 70.9, 61. ,  7.9, 53.7,  3.2,  7. ,  3. ,
       57. , 52.3, 66.9, 55.6, 65.7,  4.8, 63.5,  5.7,  4.7,  6.9, 62.2,
       62.7, 58.7,  5.1, 75.3, 57.8,  8. , 58. , 62.1, 65.2,  2. , 63.4,
        6.1,  1.9,  6.7, 73.8,  6.5, 62.5,  4.4, 63. , 70.3,  5.8, 64.1,
       71.5, 67.3, 67.4, 71.2, 68.3,  4. ,  6. , 60.9, 67. ,  6.4, 64.6,
       71.6, 69.6,  7.2, 67.1, 66.5, 70.7, 69.1, 65.6, 68.2, 68.1, 65.1,
       70.4, 77.6,  2.5, 62.9,  2.2,  5.2,  4.5,  3.3,  3.4,  4.1])