In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('man_odi_data_2.csv')
df.head()

,Match Date,Team1 Name,Team1 Captain,Team2 Name,Team2 Captain,Match Venue (Stadium),Match Venue (City),Match Venue (Country),Toss Winner,Toss Winner Choice,Match Winner,Team1 Playing 11,Team2 Playing 11,Debut Players
0,07-01-1988,Australia,1572,New Zealand,1698,Melbourne Cricket Ground,Melbourne,Australia,Australia,bat,Australia,"['1767', '1793', '1754', '1572', '1871', '1795...","['1550', '1863', '1861', '1669', '1698', '1846...",[]
1,12-01-1988,New Zealand,1698,Sri Lanka,1664,Bellerive Oval,Hobart,Australia,Sri Lanka,bowl,Sri Lanka,"['1777', '1550', '1698', '1669', '1861', '1846...","['1810', '1864', '1789', '1762', '1666', '1664...",[]
2,17-01-1988,New Zealand,1698,Australia,1572,Brisbane Cricket Ground,Brisbane,Australia,Australia,bowl,Australia,"['1550', '1863', '1698', '1669', '1407', '1790...","['1793', '1767', '1773', '1754', '1871', '1795...",['1790']
3,19-01-1988,Sri Lanka,1664,Australia,1572,Sydney Cricket Ground,Sydney,Australia,Australia,bowl,Australia,"['1810', '1864', '1789', '1753', '1762', '1666...","['1767', '1793', '1754', '1871', '1795', '1572...",['1753']
4,21-10-1988,India,1491,West Indies,1433,Sharjah Cricket Association Stadium,Sharjah,United Arab Emirates,India,bat,West Indies,"['1653', '1639', '1353', '1491', '1774', '1568...","['1433', '1553', '1744', '1873', '1697', '1654...",[]

In [3]:
player_list = set([])
for cell in df['Team1 Playing 11']:
    lst = cell.strip("[]").replace("'", "").replace(' ', '').split(',')
    lst = [int(x) for x in lst]
    for player in lst:
        player_list.add(player)
player_list = list(player_list)
player_list

[8192,
 8195,
 8197,
 8201,
 8203,
 8209,
 90143,
 49193,
 8240,
 8242,
 90165,
 57410,
 49222,
 8270,
 8272,
 8273,
 49236,
 49247,
 57444,
 90231,
 8334,
 73871,
 24723,
 49327,
 49342,
 24777,
 106697,
 49401,
 57609,
 8460,
 57628,
 106787,
 65860,
 65861,
 65862,
 74145,
 65996,
 8742,
 8762,
 74305,
 49752,
 8813,
 74351,
 8821,
 57982,
 66190,
 8876,
 58084,
 49899,
 49906,
 58100,
 8962,
 49945,
 49958,
 8999,
 9022,
 66371,
 58190,
 66398,
 9086,
 74633,
 58274,
 58276,
 50121,
 58346,
 74741,
 9235,
 58403,
 58406,
 58408,
 9257,
 9266,
 9268,
 9269,
 58435,
 1105,
 58466,
 50281,
 50290,
 58488,
 58491,
 50309,
 1160,
 58511,
 74913,
 66722,
 66725,
 66726,
 74917,
 1215,
 50377,
 50378,
 50388,
 1237,
 1239,
 9432,
 1243,
 74975,
 1250,
 1251,
 1259,
 1260,
 50416,
 1265,
 1266,
 1277,
 1278,
 1287,
 1290,
 1291,
 1298,
 1299,
 9492,
 1304,
 66842,
 1307,
 66844,
 1311,
 9505,
 1319,
 66859,
 1324,
 1326,
 1328,
 1329,
 50483,
 1336,
 1337,
 1338,
 1341,
 1342,
 1346,
 1347,
 1348,
 1350,
 1352,
 1353,
 1359,
 1361,
 1364,
 1368,
 1369,
 17752,
 1378,
 9570,
 1383,
 9586,
 1394,
 1395,
 9587,
 17780,
 1401,
 1402,
 66941,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 9606,
 1418,
 1419,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 58772,
 1428,
 1429,
 1431,
 1432,
 1436,
 1437,
 1438,
 1439,
 1440,
 9631,
 9630,
 1443,
 1444,
 1445,
 9633,
 1447,
 9639,
 9638,
 9634,
 1452,
 1456,
 1458,
 1459,
 1460,
 1461,
 17850,
 17857,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1484,
 1485,
 1486,
 75215,
 1488,
 1489,
 1490,
 1491,
 1492,
 1503,
 1504,
 1505,
 1508,
 1510,
 1511,
 1514,
 1515,
 9708,
 1518,
 9711,
 9710,
 1521,
 9713,
 83439,
 1524,
 1525,
 1527,
 1528,
 1530,
 1531,
 1536,
 1537,
 1538,
 58881,
 1541,
 1544,
 1546,
 1547,
 1548,
 1549,
 1550,
 50709,
 1558,
 1566,
 1568,
 1569,
 1570,
 1572,
 50724,
 1576,
 1577,
 1579,
 1580,
 1582,
 75311,
 50734,
 1585,
 1588,
 1589,
 1590,
 1592,
 1594,
 1595,
 1596,
 1597,
 75325,
 75337,
 1610,
 1617,
 1618,
 1619,
 50771,
 1621,
 1623,
 1624,
 1625,
 67161,
 1627,
 50781,
 1630,
 1631,
 1632,
 1633,
 67169,
 1635,
 50789,
 1638,
 1639,
 1640,
 1641,
 67178,
 1644,
 1645,
 1646,
 1647,
 1649,
 1651,
 1652,
 1653,
 1655,
 1658,
 1659,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1680,
 1682,
 50837,
 50810,
 1687,
 1689,
 1690,
 1692,
 1693,
 1694,
 1695,
 1696,
 1698,
 1699,
 1700,
 1701,
 1702,
 1703,
 1704,
 1706,
 1708,
 1709,
 9900,
 1711,
 1714,
 1715,
 59061,
 1718,
 1719,
 1720,
 1730,
 1731,
 1734,
 1736,
 1737,
 1738,
 1739,
 1742,
 1743,
 1746,
 1747,
 67282,
 1749,
 1750,
 1751,
 1753,
 1754,
 1756,
 9952,
 67296,
 1762,
 1763,
 1764,
 1766,
 1767,
 1768,
 1771,
 1772,
 1773,
 1774,
 1775,
 1776,
 1777,
 1779,
 1782,
 1783,
 1784,
 1785,
 1786,
 1789,
 1790,
 1791,
 1792,
 1793,
 1794,
 1795,
 9988,
 1797,
 1798,
 9989,
 9992,
 9993,
 1802,
 1803,
 1804,
 59148,
 67342,
 1807,
 1808,
 1810,
 1811,
 1812,
 1813,
 1815,
 1816,
 1817,
 1818,
 1821,
 1822,
 1823,
 1825,
 1826,
 67364,
 1838,
 1840,
 1844,
 1846,
 1847,
 1849,
 1853,
 1854,
 1856,
 1857,
 1858,
 1859,
 1860,
 1861,
 1862,
 1863,
 1864,
 67398,
 1867,
 1869,
 1870,
 1871,
 1872,
 1874,
 1875,
 59220,
 1876,
 1877,
 1878,
 1881,
 1882,
 1883,
 1885,
 1888,
 1890,
 1891,
 1892,
 1893,
 1894,
 51057,
 1913,
 1916,
 1917,
 1918,
 59261,
 1920,
 67455,
 1922,
 1923,
 1926,
 10122,
 1932,
 1933,
 1934,
 1935,
 51088,
 10129,
 10130,
 51091,
 51092,
 10125,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1955,
 1956,
 1957,
 1959,
 1960,
 1961,
 1963,
 1965,
 1966,
 1969,
 1971,
 1973,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 34747,
 1985,
 1986,
 1987,
 1988,
 10178,
 67526,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2003,
 2005,
 2006,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2021,
 2022,
 2024,
 2026,
 2027,
 2028,
 2032,
 2033,
 2034,
 108529,
 2038,
 2039,
 2040,
 2041,
 59394,
 67586,
 2052,
 2056,
 2057,
 2058,
 26635,
 2060,
 2061,
 2062,
 2059,
 2064,
 2065,
 2066,
 51216,
 2068,
 2069,
 2071,
 2072,
 2073,
 67609,
 2075,
 2079,
 10272,
 2081,
 2082,
 2083,
 2084,
 51232,
 2087,
 2088,
 10280,
 2095,
 2096,
 2097,
 2098,
 2100,
 2101,
 2103,
 2110,
 2111,
 2112,
 10303,
 2114,
 2115,
 2116,
 2117,
 59454,
 2119,
 10311,
 2121,
 2123,
 2124,
 2125,
 2126,
 2127,
 2128,
 2129,
 2130,
 10316,
 2132,
 10324,
 2134,
 2135,
 2136,
 2137,
 2138,
 2139,
 10325,
 2151,
 2152,
 2153,
 2156,
 2157,
 2163,
 2164,
 2165,
 2166,
 2167,
 2168,
 2170,
 2174,
 2176,
 2177,
 2178,
 2185,
 2186,
 2188,
 2189,
 10380,
 10381,
 2192,
 2193,
 10384,
 10386,
 2196,
 2197,
 10390,
 84117,
 10392,
 10394,
 2203,
 2206,
 2207,
 2208,
 10398,
 2210,
 2211,
 2212,
 10404,
 10406,
 10401,
 51362,
 10409,
 51367,
 10411,
 2220,
 2221,
 2222,
 10412,
 2225,
 2226,
 2227,
 2228,
 2229,
 2230,
 2231,
 2232,
 2234,
 2235,
 2237,
 2238,
 2239,
 67773,
 2241,
 2242,
 2243,
 2245,
 2246,
 10439,
 10443,
 59599,
 59610,
 2281,
 2282,
 2285,
 2286,
 2292,
 2293,
 51454,
 26887,
 26889,
 51482,
 51491,
 10538,
 2347,
 51498,
 2351,
 2352,
 2355,
 2356,
 10553,
 10556,
 10561,
 59773,
 59775,
 10671,
 68065,
 18948,
 10776,
 18985,
 35384,
 35422,
 84635,
 2838,
 35647,
 35652,
 19281,
 93033,
 93043,
 35711,
 84865,
 2954,
 19396,
 84935,
 84937,
 101339,
 101340,
 19422,
 35812,
 52222,
 11271,
 11279,
 60436,
 60460,
 19502,
 51096,
 101430,
 51098,
 11334,
 35946,
 11374,
 60530,
 11385,
 11399,
 19596,
 52371,
 52372,
 52373,
 109723,
 19627,
 60591,
 52405,
 60602,
 19647,
 19664,
 11475,
 19692,
 3317,
 3328,
 3329,
 36108,
 68884,
 36130,
 59288,
 60737,
 19820,
 11643,
 11645,
 11647,
 60806,
 101780,
 19930,
 36367,
 60945,
 52808,
 101991,
 44671,
 44683,
 11922,
 11930,
 20125,
 93873,
 61115,
 61125,
 61131,
 11984,
 52975,
 52976,
 12020,
 52980,
 44791,
 69377,
 85763,
 12049,
 44820,
 44853,
 44865,
 61264,
 12123,
 44895,
 77665,
 3940,
 77669,
 3947,
 44908,
 44909,
 3956,
 53112,
 3970,
 44930,
 44937,
 3978,
 61325,
 44946,
 4013,
 4015,
 4016,
 12209,
 12227,
 4038,
 45000,
 12244,
 4060,
 4073,
 4086,
 53268,
 4122,
 45084,
 4130,
 4132,
 45105,
 61491,
 4151,
 4152,
 53314,
 4169,
 4172,
 4173,
 53326,
 4174,
 4176,
 53330,
 4178,
 4180,
 4179,
 4182,
 4183,
 4184,
 4185,
 69729,
 12398,
 12400,
 61552,
 12402,
 45170,
 86165,
 45222,
 53439,
 61634,
 53493,
 61690,
 20731,
 4354,
 4355,
 4356,
 4357,
 4358,
 12562,
 4376,
 4380,
 4382,
 53538,
 53540,
 53546,
 53549,
 45365,
 12601,
 12634,
 53602,
 53605,
 53606,
 61802,
 53639,
 61832,
 61839,
 53648,
 53649,
 78229,
 61846,
 78231,
 78233,
 78235,
 12701,
 78239,
 61857,
 61859,
 61861,
 45487,
 102835,
 78275,
 78285,
 53716,
 53755,
 53767,
 45592,
 53785,
 53786,
 61990,
 61993,
 53809,
 62022,
 12894,
 62051,
 12912,
 53891,
 70277,
 62088,
 4769,
 21172,
 45764,
 45765,
 62153,
 70392,
 54013,
 54018,
 13066,
 70411,
 45889,
 45890,
 70472,
 54131,
 70517,
 95094,
 67750,
 95120,
 5010,
 45970,
 45980,
 70577,
 70580,
 54212,
 54222,
 70611,
 78805,
 103399,
 70633,
 103402,
 70640,
 95219,
 54282,
 87051,
 70691,
 62500,
 70695,
 54314,
 54337,
 54340,
 95315,
 95316,
 54369,
 46206,
 54430,
 103588,
 54444,
 54460,
 70856,
 79067,
 70888,
 70889,
 70890,
 70894,
 70898,
 5413,
 62757,
 62760,
 62763,
 ...]

In [4]:
player_list = set([])
for cell in df['Team2 Playing 11']:
    lst = cell.strip("[]").replace("'", "").replace(' ', '').split(',')
    lst = [int(x) for x in lst]
    for player in lst:
        player_list.add(player)
player_list = list(player_list)
len(player_list)

2179

In [5]:
winner = []
for match_win, team_one in zip(df['Match Winner'], df['Team1 Name']):
    if match_win == team_one:
        winner.append(0)
    else:
        winner.append(1)

In [6]:
df['match_winner'] = winner

In [7]:
df = df.drop(columns=['Match Winner', 'Toss Winner'], axis=1)

In [8]:
df = df.drop(columns=['Debut Players', 'Team1 Playing 11', 'Team2 Playing 11'], axis=1)

In [9]:
df = df.drop(columns=['Match Date'], axis=1)

In [10]:
df = pd.get_dummies(data=df, columns=['Team1 Name', 'Team1 Captain', 'Team2 Name', 'Team2 Captain', 'Match Venue (Stadium)', 
                       'Match Venue (City)', 'Match Venue (Country)', 'Toss Winner Choice'])

In [11]:
df.head()

,match_winner,Team1 Name_Afghanistan,Team1 Name_Australia,Team1 Name_India,Team1 Name_New Zealand,Team1 Name_Pakistan,Team1 Name_South Africa,Team1 Name_Sri Lanka,Team1 Captain_1105,Team1 Captain_1237,...,Match Venue (Country)_Qatar,Match Venue (Country)_Scotland,Match Venue (Country)_Singapore,Match Venue (Country)_South Africa,Match Venue (Country)_Sri Lanka,Match Venue (Country)_United Arab Emirates,Match Venue (Country)_West Indies,Match Venue (Country)_Zimbabwe,Toss Winner Choice_bat,Toss Winner Choice_bowl
0,0,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
4,1,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC

In [13]:
x = df.drop(columns=['match_winner'], axis=1)
y = df['match_winner']

x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2, random_state=42)

In [14]:
classifier = LinearSVC(C=1.0)

In [15]:
classifier.fit(x_train,y_train)

c:\Users\Harshneel\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

LinearSVC()

In [16]:
y_pred = classifier.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
accuracy = accuracy_score(y_pred,y_test)
accuracy

0.6073943661971831

In [19]:
from sklearn.metrics import classification_report

In [20]:
report = classification_report(y_pred,y_test)
report

'              precision    recall  f1-score   support\n\n           0       0.61      0.63      0.62       286\n           1       0.61      0.59      0.60       282\n\n    accuracy                           0.61       568\n   macro avg       0.61      0.61      0.61       568\nweighted avg       0.61      0.61      0.61       568\n'

In [21]:
print(report)

              precision    recall  f1-score   support

           0       0.61      0.63      0.62       286
           1       0.61      0.59      0.60       282

    accuracy                           0.61       568
   macro avg       0.61      0.61      0.61       568
weighted avg       0.61      0.61      0.61       568