In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
data = pd.read_csv('data/odi_Matches_Data.csv')

In [30]:
data.columns

Index(['ODI Match No', 'Match ID', 'Match Name', 'Series ID', 'Series Name',
       'Match Date', 'Match Format', 'Team1 ID', 'Team1 Name', 'Team1 Captain',
       'Team1 Runs Scored', 'Team1 Wickets Fell', 'Team1 Extras Rec',
       'Team2 ID', 'Team2 Name', 'Team2 Captain', 'Team2 Runs Scored',
       'Team2 Wickets Fell', 'Team2 Extras Rec', 'Match Venue (Stadium)',
       'Match Venue (City)', 'Match Venue (Country)', 'Umpire 1', 'Umpire 2',
       'Match Referee', 'Toss Winner', 'Toss Winner Choice', 'Match Winner',
       'Match Result Text', 'MOM Player', 'Team1 Playing 11',
       'Team2 Playing 11', 'Debut Players'],
      dtype='object')

In [31]:
data.shape

(4686, 33)

In [32]:
data.head()

,ODI Match No,Match ID,Match Name,Series ID,Series Name,Match Date,Match Format,Team1 ID,Team1 Name,Team1 Captain,...,Umpire 2,Match Referee,Toss Winner,Toss Winner Choice,Match Winner,Match Result Text,MOM Player,Team1 Playing 11,Team2 Playing 11,Debut Players
0,488,65425,Australia Vs New Zealand 4Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-07,ODI,2.0,Australia,1572.0,...,RC Bailhache,NaN,Australia,bat,Australia,Australia won by 6 runs,1795.0,"['1767', '1793', '1754', '1572', '1871', '1795...","['1550', '1863', '1861', '1669', '1698', '1846...",[]
1,492,65428,New Zealand Vs Sri Lanka 7Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-12,ODI,5.0,New Zealand,1698.0,...,SG Randell,NaN,Sri Lanka,bowl,Sri Lanka,Sri Lanka won by 4 wickets (with 21 balls rema...,1810.0,"['1777', '1550', '1698', '1669', '1861', '1846...","['1810', '1864', '1789', '1762', '1666', '1664...",[]
2,495,65431,Australia Vs New Zealand 10Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-17,ODI,5.0,New Zealand,1698.0,...,AR Crafter,NaN,Australia,bowl,Australia,Australia won by 5 wickets (with 64 balls rema...,1795.0,"['1550', '1863', '1698', '1669', '1407', '1790...","['1793', '1767', '1773', '1754', '1871', '1795...",['1790']
3,496,65432,Australia Vs Sri Lanka 11Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-19,ODI,8.0,Sri Lanka,1664.0,...,TA Prue,NaN,Australia,bowl,Australia,Australia won by 3 wickets (with 3 balls remai...,1871.0,"['1810', '1864', '1789', '1753', '1762', '1666...","['1767', '1793', '1754', '1871', '1795', '1572...",['1753']
4,508,64326,New Zealand Vs England 3Rd Odi,60882.0,England tour of New Zealand - 1988 (1987/88),1988-03-16,ODI,1.0,England,1543.0,...,SJ Woodward,NaN,New Zealand,bowl,New Zealand,New Zealand won by 7 wickets (with 21 balls re...,1550.0,"['1758', '1629', '1770', '1850', '1543', '1865...","['1550', '1883', '1863', '1882', '1777', '1918...",['1883']

In [33]:
data['Match Format'].unique()

array(['ODI', nan], dtype=object)

In [34]:
data['Match Format'].value_counts()

ODI    4685
Name: Match Format, dtype: int64

In [35]:
info = pd.read_csv('data/players_info.csv')

In [36]:
info.head()

,player_id,player_object_id,player_name,dob,dod,gender,batting_style,bowling_style,country_id,image_url,image_metadata
0,93957,1046619,Avinash Pai,1982-01-24,NaN,M,right-hand bat,right-arm offbreak,18.0,NaN,NaN
1,2182,51462,Sherwin Campbell,1970-11-01,NaN,M,right-hand bat,right-arm medium,4.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 326616, 'url': '/db/PICTURES/CMS/326600..."
2,48391,56194,Tamim Iqbal,1989-03-20,NaN,M,left-hand bat,NaN,25.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 303166, 'url': '/db/PICTURES/CMS/303100..."
3,2198,55935,Javed Omar,1976-11-25,NaN,M,right-hand bat,legbreak,25.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 302990, 'url': '/db/PICTURES/CMS/302900..."
4,52290,298438,Jason Roy,1990-07-21,NaN,M,right-hand bat,NaN,1.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 303963, 'url': '/db/PICTURES/CMS/303900..."

In [37]:
data['Team1 ID'].unique()

array([2.000e+00, 5.000e+00, 8.000e+00, 1.000e+00, 6.000e+00, 4.000e+00,
       1.400e+01, 7.000e+00, 1.700e+01, 9.000e+00, 2.500e+01, 3.000e+00,
       2.700e+01, 2.600e+01, 1.500e+01, 3.000e+01, 1.100e+01, 1.400e+02,
       4.058e+03, 1.060e+02, 2.900e+01, 1.200e+01, 4.000e+01, 1.900e+01,
             nan, 2.000e+01, 3.200e+01, 2.800e+01, 3.700e+01, 4.083e+03])

In [38]:
data['Team1 Name'].unique()

array(['Australia', 'New Zealand', 'Sri Lanka', 'England', 'India',
       'West Indies', 'East Africa', 'Pakistan', 'Canada', 'Zimbabwe',
       'Bangladesh', 'South Africa', 'U.A.E.', 'Kenya', 'Netherlands',
       'Scotland', 'U.S.A.', 'ICC World XI', 'Africa XI', 'Asia XI',
       'Ireland', 'Bermuda', 'Afghanistan', 'Hong Kong', nan, 'P.N.G.',
       'Nepal', 'Namibia', 'Oman', 'Jersey'], dtype=object)

In [39]:
print(info[info['country_id']==6.0])

      player_id  player_object_id         player_name         dob  dod gender  \
80         7656             28090        Sameer Dighe  1968-10-08  NaN      M
84         7716             36084        Yuvraj Singh  1981-12-12  NaN      M
97         1840             32179  Chandrakant Pandit  1961-09-30  NaN      M
102       63224            471342       Krunal Pandya  1991-03-24  NaN      M
103       48405             34102        Rohit Sharma  1987-04-30  NaN      M
...         ...               ...                 ...         ...  ...    ...
6585       1825             34057           R.P.Singh  1965-01-06  NaN      M
6590       1919             32249        Rashid Patel  1964-06-01  NaN      M
6599       1950             28884     Gursharan Singh  1963-03-08  NaN      M
6637      51455            290632    Sreenath Aravind  1984-04-08  NaN      M
6659       3319             29712       David Johnson  1971-10-16  NaN      M

       batting_style           bowling_style  country_id  \
80    right-hand bat                     NaN         6.0
84     left-hand bat  slow left-arm orthodox         6.0
97    right-hand bat                     NaN         6.0
102    left-hand bat  slow left-arm orthodox         6.0
103   right-hand bat      right-arm offbreak         6.0
...              ...                     ...         ...
6585  right-hand bat    left-arm fast-medium         6.0
6590   left-hand bat    left-arm fast-medium         6.0
6599  right-hand bat                     NaN         6.0
6637   left-hand bat    left-arm medium-fast         6.0
6659  right-hand bat        right-arm medium         6.0

                                              image_url  \
80    https://img1.hscicdn.com/image/upload/f_auto,t...
84    https://img1.hscicdn.com/image/upload/f_auto,t...
97    https://img1.hscicdn.com/image/upload/f_auto,t...
102   https://img1.hscicdn.com/image/upload/f_auto,t...
103   https://img1.hscicdn.com/image/upload/f_auto,t...
...                                                 ...
6585                                                NaN
6590                                                NaN
6599  https://img1.hscicdn.com/image/upload/f_auto,t...
6637  https://img1.hscicdn.com/image/upload/f_auto,t...
6659  https://img1.hscicdn.com/image/upload/f_auto,t...

                                         image_metadata
80    {'id': 302530, 'url': '/db/PICTURES/CMS/302500...
84    {'id': 302406, 'url': '/db/PICTURES/CMS/302400...
97    {'id': 302468, 'url': '/db/PICTURES/CMS/302400...
102   {'id': 309070, 'url': '/db/PICTURES/CMS/309000...
103   {'id': 302374, 'url': '/db/PICTURES/CMS/302300...
...                                                 ...
6585                                                NaN
6590                                                NaN
6599  {'id': 302493, 'url': '/db/PICTURES/CMS/302400...
6637  {'id': 127895, 'url': '/db/PICTURES/CMS/127800...
6659  {'id': 39916, 'url': '/db/PICTURES/DB/102004/0...

[389 rows x 11 columns]

In [40]:
team_names = [
    'Australia',
    'New Zealand',
    'Sri Lanka',
    'England',
    'India',
    'Pakistan',
    'Bangladesh',
    'South Africa',
    'Netherlands',
    'Afghanistan'
]
df = pd.DataFrame()

for team in team_names:
    team_data = data[data['Team1 Name'] == team]
    df = pd.concat([df, team_data], ignore_index=True)
    
team_names = [
    'Australia',
    'New Zealand',
    'Sri Lanka',
    'England',
    'India',
    'Pakistan',
    'Bangladesh',
    'South Africa',
    'Netherlands',
    'Afghanistan'
]

df1 = pd.DataFrame()

for team in team_names:
    team_data = df[df['Team2 Name'] == team]
    df1 = pd.concat([df1, team_data], ignore_index=True)

In [41]:
check = df1[df1['Team1 Name']=='India']

In [42]:
check['Match Venue (Country)']

189        Australia
190        Australia
191        Australia
192        Australia
193          England
            ...
2548    South Africa
2549    South Africa
2550    South Africa
2624    South Africa
2649         England
Name: Match Venue (Country), Length: 370, dtype: object

In [43]:
data[4670:]

,ODI Match No,Match ID,Match Name,Series ID,Series Name,Match Date,Match Format,Team1 ID,Team1 Name,Team1 Captain,...,Umpire 2,Match Referee,Toss Winner,Toss Winner Choice,Match Winner,Match Result Text,MOM Player,Team1 Playing 11,Team2 Playing 11,Debut Players
4670,4671,1384405,Australia Vs Sri Lanka 14Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-16,ODI,8.0,Sri Lanka,70888.0,...,JS Wilson,RB Richardson,Sri Lanka,bat,Australia,Australia won by 5 wickets (with 88 balls rema...,58435.0,"['93033', '52373', '70888', '70890', '78229', ...","['50771', '48739', '50281', '78285', '72093', ...",[]
4671,4672,1384406,Netherlands Vs South Africa 15Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-17,ODI,15.0,Netherlands,101548.0,...,RA Kettleborough,JJ Crowe,South Africa,bowl,Netherlands,Netherlands won by 38 runs,101548.0,"['102987', '71363', '58464', '93293', '53408',...","['58190', '58406', '55398', '70277', '61634', ...",[]
4672,4673,1384407,Afghanistan Vs New Zealand 16Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-18,ODI,5.0,New Zealand,59148.0,...,P Wilson,J Srinath,Afghanistan,bowl,New Zealand,New Zealand won by 149 runs,80639.0,"['58403', '67178', '89105', '58772', '59148', ...","['90143', '84865', '66398', '61861', '80247', ...",[]
4673,4674,1384408,India Vs Bangladesh 17Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-19,ODI,25.0,Bangladesh,70872.0,...,RA Kettleborough,AJ Pycroft,Bangladesh,bat,India,India won by 7 wickets (with 51 balls remaining),49752.0,"['91219', '66691', '70872', '70877', '91227', ...","['48405', '95316', '49752', '71331', '60530', ...",[]
4674,4675,1384409,Australia Vs Pakistan 18Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-20,ODI,2.0,Australia,64244.0,...,RK Illingworth,RB Richardson,Pakistan,bowl,Australia,Australia won by 62 runs,48739.0,"['48739', '50771', '54222', '50281', '54212', ...","['84935', '67773', '56880', '54018', '71839', ...",[]
4675,4676,1384410,Netherlands Vs Sri Lanka 19Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-21,ODI,15.0,Netherlands,101548.0,...,M Erasmus,JJ Crowe,Netherlands,bat,Sri Lanka,Sri Lanka won by 5 wickets (with 10 balls rema...,70890.0,"['102987', '71363', '58464', '93293', '101586'...","['93033', '52373', '70888', '70890', '78229', ...",[]
4676,4677,1384411,England Vs South Africa 20Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-21,ODI,3.0,South Africa,70277.0,...,Nitin Menon,J Srinath,England,bowl,South Africa,South Africa won by 229 runs,61634.0,"['58406', '50416', '55398', '70277', '61634', ...","['52161', '49309', '52656', '53320', '84027', ...",[]
4677,4678,1384412,India Vs New Zealand 21St Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-22,ODI,5.0,New Zealand,59148.0,...,MA Gough,AJ Pycroft,India,bowl,India,India won by 4 wickets (with 12 balls remaining),63646.0,"['58403', '67178', '89105', '58772', '59148', ...","['48405', '95316', '49752', '71331', '60530', ...",[]
4678,4679,1384413,Afghanistan Vs Pakistan 22Nd Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-23,ODI,7.0,Pakistan,56880.0,...,RJ Tucker,RB Richardson,Pakistan,bat,Afghanistan,Afghanistan won by 8 wickets (with 6 balls rem...,84865.0,"['84935', '67773', '56880', '54018', '71839', ...","['90143', '84865', '66398', '61861', '80247', ...",[]
4679,4680,1384414,Bangladesh Vs South Africa 23Rd Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-24,ODI,3.0,South Africa,70277.0,...,JS Wilson,JJ Crowe,South Africa,bat,South Africa,South Africa won by 149 runs,58406.0,"['58406', '50416', '55398', '70277', '61634', ...","['91219', '66691', '70872', '48277', '47986', ...",[]
4680,4681,1384415,Australia Vs Netherlands 24Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-25,ODI,2.0,Australia,64244.0,...,Sharfuddoula,AJ Pycroft,Australia,bat,Australia,Australia won by 309 runs,54222.0,"['50771', '48739', '50281', '78285', '72093', ...","['102987', '71363', '58464', '53408', '93293',...",[]
4681,4682,1384416,England Vs Sri Lanka 25Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-26,ODI,1.0,England,53271.0,...,CM Brown,J Srinath,England,bat,Sri Lanka,Sri Lanka won by 8 wickets (with 146 balls rem...,78235.0,"['52161', '49309', '52656', '53320', '53271', ...","['93033', '52373', '70888', '70890', '78229', ...",[]
4682,4683,1384417,Pakistan Vs South Africa 26Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-27,ODI,7.0,Pakistan,56880.0,...,PR Reiffel,RB Richardson,Pakistan,bat,South Africa,South Africa won by 1 wicket (with 16 balls re...,58408.0,"['71527', '84935', '67773', '56880', '54018', ...","['58190', '58406', '55398', '70277', '61634', ...",[]
4683,4684,1384418,Australia Vs New Zealand 27Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-28,ODI,2.0,Australia,64244.0,...,Sharfuddoula,AJ Pycroft,New Zealand,bowl,Australia,Australia won by 5 runs,66190.0,"['48739', '66190', '50771', '50281', '78285', ...","['58403', '67178', '89105', '58772', '59148', ...",[]
4684,4685,1384419,Bangladesh Vs Netherlands 28Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-28,ODI,15.0,Netherlands,101548.0,...,P Wilson,JJ Crowe,Netherlands,bat,Netherlands,Netherlands won by 87 runs,56854.0,"['102987', '71363', '48111', '58464', '101548'...","['66691', '91219', '70877', '70872', '48277', ...",[]
4685,4686,1384420,India Vs England 29Th Match,1367856.0,ICC Cricket World Cup in India - 2023 (2023/24),2023-10-29,ODI,6.0,India,48405.0,...,RJ Tucker,RB Richardson,England,bowl,India,India won by 100 runs,48405.0,"['48405', '95316', '49752', '71331', '60530', ...","['52161', '49309', '52656', '53320', '53271', ...",[]