In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('data/odi_Matches_Data.csv')

In [4]:
data.columns

Index(['ODI Match No', 'Match ID', 'Match Name', 'Series ID', 'Series Name',
       'Match Date', 'Match Format', 'Team1 ID', 'Team1 Name', 'Team1 Captain',
       'Team1 Runs Scored', 'Team1 Wickets Fell', 'Team1 Extras Rec',
       'Team2 ID', 'Team2 Name', 'Team2 Captain', 'Team2 Runs Scored',
       'Team2 Wickets Fell', 'Team2 Extras Rec', 'Match Venue (Stadium)',
       'Match Venue (City)', 'Match Venue (Country)', 'Umpire 1', 'Umpire 2',
       'Match Referee', 'Toss Winner', 'Toss Winner Choice', 'Match Winner',
       'Match Result Text', 'MOM Player', 'Team1 Playing 11',
       'Team2 Playing 11', 'Debut Players'],
      dtype='object')

In [5]:
data.shape

(4686, 33)

In [6]:
data.head()

,ODI Match No,Match ID,Match Name,Series ID,Series Name,Match Date,Match Format,Team1 ID,Team1 Name,Team1 Captain,...,Umpire 2,Match Referee,Toss Winner,Toss Winner Choice,Match Winner,Match Result Text,MOM Player,Team1 Playing 11,Team2 Playing 11,Debut Players
0,488,65425,Australia Vs New Zealand 4Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-07,ODI,2.0,Australia,1572.0,...,RC Bailhache,NaN,Australia,bat,Australia,Australia won by 6 runs,1795.0,"['1767', '1793', '1754', '1572', '1871', '1795...","['1550', '1863', '1861', '1669', '1698', '1846...",[]
1,492,65428,New Zealand Vs Sri Lanka 7Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-12,ODI,5.0,New Zealand,1698.0,...,SG Randell,NaN,Sri Lanka,bowl,Sri Lanka,Sri Lanka won by 4 wickets (with 21 balls rema...,1810.0,"['1777', '1550', '1698', '1669', '1861', '1846...","['1810', '1864', '1789', '1762', '1666', '1664...",[]
2,495,65431,Australia Vs New Zealand 10Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-17,ODI,5.0,New Zealand,1698.0,...,AR Crafter,NaN,Australia,bowl,Australia,Australia won by 5 wickets (with 64 balls rema...,1795.0,"['1550', '1863', '1698', '1669', '1407', '1790...","['1793', '1767', '1773', '1754', '1871', '1795...",['1790']
3,496,65432,Australia Vs Sri Lanka 11Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-19,ODI,8.0,Sri Lanka,1664.0,...,TA Prue,NaN,Australia,bowl,Australia,Australia won by 3 wickets (with 3 balls remai...,1871.0,"['1810', '1864', '1789', '1753', '1762', '1666...","['1767', '1793', '1754', '1871', '1795', '1572...",['1753']
4,508,64326,New Zealand Vs England 3Rd Odi,60882.0,England tour of New Zealand - 1988 (1987/88),1988-03-16,ODI,1.0,England,1543.0,...,SJ Woodward,NaN,New Zealand,bowl,New Zealand,New Zealand won by 7 wickets (with 21 balls re...,1550.0,"['1758', '1629', '1770', '1850', '1543', '1865...","['1550', '1883', '1863', '1882', '1777', '1918...",['1883']

In [7]:
data['Match Format'].unique()

array(['ODI', nan], dtype=object)

In [8]:
data['Match Format'].value_counts()

ODI    4685
Name: Match Format, dtype: int64

In [9]:
info = pd.read_csv('data/players_info.csv')

In [10]:
info.head()

,player_id,player_object_id,player_name,dob,dod,gender,batting_style,bowling_style,country_id,image_url,image_metadata
0,93957,1046619,Avinash Pai,1982-01-24,NaN,M,right-hand bat,right-arm offbreak,18.0,NaN,NaN
1,2182,51462,Sherwin Campbell,1970-11-01,NaN,M,right-hand bat,right-arm medium,4.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 326616, 'url': '/db/PICTURES/CMS/326600..."
2,48391,56194,Tamim Iqbal,1989-03-20,NaN,M,left-hand bat,NaN,25.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 303166, 'url': '/db/PICTURES/CMS/303100..."
3,2198,55935,Javed Omar,1976-11-25,NaN,M,right-hand bat,legbreak,25.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 302990, 'url': '/db/PICTURES/CMS/302900..."
4,52290,298438,Jason Roy,1990-07-21,NaN,M,right-hand bat,NaN,1.0,"https://img1.hscicdn.com/image/upload/f_auto,t...","{'id': 303963, 'url': '/db/PICTURES/CMS/303900..."

In [11]:
data['Team1 ID'].unique()

array([2.000e+00, 5.000e+00, 8.000e+00, 1.000e+00, 6.000e+00, 4.000e+00,
       1.400e+01, 7.000e+00, 1.700e+01, 9.000e+00, 2.500e+01, 3.000e+00,
       2.700e+01, 2.600e+01, 1.500e+01, 3.000e+01, 1.100e+01, 1.400e+02,
       4.058e+03, 1.060e+02, 2.900e+01, 1.200e+01, 4.000e+01, 1.900e+01,
             nan, 2.000e+01, 3.200e+01, 2.800e+01, 3.700e+01, 4.083e+03])

In [12]:
data['Team1 Name'].unique()

array(['Australia', 'New Zealand', 'Sri Lanka', 'England', 'India',
       'West Indies', 'East Africa', 'Pakistan', 'Canada', 'Zimbabwe',
       'Bangladesh', 'South Africa', 'U.A.E.', 'Kenya', 'Netherlands',
       'Scotland', 'U.S.A.', 'ICC World XI', 'Africa XI', 'Asia XI',
       'Ireland', 'Bermuda', 'Afghanistan', 'Hong Kong', nan, 'P.N.G.',
       'Nepal', 'Namibia', 'Oman', 'Jersey'], dtype=object)

In [13]:
print(info[info['country_id']==6.0])

      player_id  player_object_id         player_name         dob  dod gender  \
80         7656             28090        Sameer Dighe  1968-10-08  NaN      M
84         7716             36084        Yuvraj Singh  1981-12-12  NaN      M
97         1840             32179  Chandrakant Pandit  1961-09-30  NaN      M
102       63224            471342       Krunal Pandya  1991-03-24  NaN      M
103       48405             34102        Rohit Sharma  1987-04-30  NaN      M
...         ...               ...                 ...         ...  ...    ...
6585       1825             34057           R.P.Singh  1965-01-06  NaN      M
6590       1919             32249        Rashid Patel  1964-06-01  NaN      M
6599       1950             28884     Gursharan Singh  1963-03-08  NaN      M
6637      51455            290632    Sreenath Aravind  1984-04-08  NaN      M
6659       3319             29712       David Johnson  1971-10-16  NaN      M

       batting_style           bowling_style  country_id  \
80    right-hand bat                     NaN         6.0
84     left-hand bat  slow left-arm orthodox         6.0
97    right-hand bat                     NaN         6.0
102    left-hand bat  slow left-arm orthodox         6.0
103   right-hand bat      right-arm offbreak         6.0
...              ...                     ...         ...
6585  right-hand bat    left-arm fast-medium         6.0
6590   left-hand bat    left-arm fast-medium         6.0
6599  right-hand bat                     NaN         6.0
6637   left-hand bat    left-arm medium-fast         6.0
6659  right-hand bat        right-arm medium         6.0

                                              image_url  \
80    https://img1.hscicdn.com/image/upload/f_auto,t...
84    https://img1.hscicdn.com/image/upload/f_auto,t...
97    https://img1.hscicdn.com/image/upload/f_auto,t...
102   https://img1.hscicdn.com/image/upload/f_auto,t...
103   https://img1.hscicdn.com/image/upload/f_auto,t...
...                                                 ...
6585                                                NaN
6590                                                NaN
6599  https://img1.hscicdn.com/image/upload/f_auto,t...
6637  https://img1.hscicdn.com/image/upload/f_auto,t...
6659  https://img1.hscicdn.com/image/upload/f_auto,t...

                                         image_metadata
80    {'id': 302530, 'url': '/db/PICTURES/CMS/302500...
84    {'id': 302406, 'url': '/db/PICTURES/CMS/302400...
97    {'id': 302468, 'url': '/db/PICTURES/CMS/302400...
102   {'id': 309070, 'url': '/db/PICTURES/CMS/309000...
103   {'id': 302374, 'url': '/db/PICTURES/CMS/302300...
...                                                 ...
6585                                                NaN
6590                                                NaN
6599  {'id': 302493, 'url': '/db/PICTURES/CMS/302400...
6637  {'id': 127895, 'url': '/db/PICTURES/CMS/127800...
6659  {'id': 39916, 'url': '/db/PICTURES/DB/102004/0...

[389 rows x 11 columns]

In [14]:
team_names = [
    'Australia',
    'New Zealand',
    'Sri Lanka',
    'England',
    'India',
    'Pakistan',
    'Bangladesh',
    'South Africa',
    'Netherlands',
    'Afghanistan'
]
df = pd.DataFrame()

for team in team_names:
    team_data = data[data['Team1 Name'] == team]
    df = pd.concat([df, team_data], ignore_index=True)
    
team_names = [
    'Australia',
    'New Zealand',
    'Sri Lanka',
    'England',
    'India',
    'Pakistan',
    'Bangladesh',
    'South Africa',
    'Netherlands',
    'Afghanistan'
]

df1 = pd.DataFrame()

for team in team_names:
    team_data = df[df['Team2 Name'] == team]
    df1 = pd.concat([df1, team_data], ignore_index=True)

In [15]:
check = df1[df1['Team1 Name']=='India']

In [16]:
check['Match Venue (Country)']

189        Australia
190        Australia
191        Australia
192        Australia
193          England
            ...
2548    South Africa
2549    South Africa
2550    South Africa
2624    South Africa
2649         England
Name: Match Venue (Country), Length: 370, dtype: object

In [17]:
df1.head()

,ODI Match No,Match ID,Match Name,Series ID,Series Name,Match Date,Match Format,Team1 ID,Team1 Name,Team1 Captain,...,Umpire 2,Match Referee,Toss Winner,Toss Winner Choice,Match Winner,Match Result Text,MOM Player,Team1 Playing 11,Team2 Playing 11,Debut Players
0,495,65431,Australia Vs New Zealand 10Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-17,ODI,5.0,New Zealand,1698.0,...,AR Crafter,NaN,Australia,bowl,Australia,Australia won by 5 wickets (with 64 balls rema...,1795.0,"['1550', '1863', '1698', '1669', '1407', '1790...","['1793', '1767', '1773', '1754', '1871', '1795...",['1790']
1,10,64150,New Zealand Vs Australia 1St Odi,60788.0,Australia tour of New Zealand - 1974 (1973/74),1974-03-30,ODI,5.0,New Zealand,1251.0,...,LHG Harmer,NaN,New Zealand,bat,Australia,Australia won by 7 wickets (with 85 balls rema...,NaN,"['1456', '1328', '1251', '1326', '1311', '1259...","['1215', '1278', '1243', '1364', '1418', '1277...","['1410', '1419', '1423', '1418', '1422', '1402..."
2,98,65303,Australia Vs New Zealand 4Th Match,60812.0,"Benson & Hedges World Series Cup Australia, In...",1980-12-07,ODI,5.0,New Zealand,1311.0,...,RC Bailhache,NaN,New Zealand,bat,Australia,Australia won by 4 wickets (with 16 balls rema...,1572.0,"['1566', '1550', '1421', '1625', '1407', '1311...","['1541', '1572', '1364', '1530', '1277', '1646...",[]
3,107,65311,Australia Vs New Zealand 12Th Match,60812.0,"Benson & Hedges World Series Cup Australia, In...",1981-01-13,ODI,5.0,New Zealand,1444.0,...,MW Johnson,NaN,New Zealand,bat,New Zealand,New Zealand won by 1 run,1550.0,"['1550', '1566', '1444', '1408', '1311', '1421...","['1572', '1547', '1364', '1530', '1277', '1646...",[]
4,111,65315,Australia Vs New Zealand 1St Final,60812.0,"Benson & Hedges World Series Cup Australia, In...",1981-01-29,ODI,5.0,New Zealand,1444.0,...,RC Bailhache,NaN,Australia,bowl,New Zealand,New Zealand won by 78 runs,NaN,"['1550', '1566', '1444', '1421', '1311', '1407...","['1547', '1647', '1361', '1364', '1530', '1572...",['1647']

In [18]:
df1['Bat First'] = df['Toss Winner']

In [19]:
df1.head()

,ODI Match No,Match ID,Match Name,Series ID,Series Name,Match Date,Match Format,Team1 ID,Team1 Name,Team1 Captain,...,Match Referee,Toss Winner,Toss Winner Choice,Match Winner,Match Result Text,MOM Player,Team1 Playing 11,Team2 Playing 11,Debut Players,Bat First
0,495,65431,Australia Vs New Zealand 10Th Match,60879.0,"Benson & Hedges World Series Cup Australia, Ne...",1988-01-17,ODI,5.0,New Zealand,1698.0,...,NaN,Australia,bowl,Australia,Australia won by 5 wickets (with 64 balls rema...,1795.0,"['1550', '1863', '1698', '1669', '1407', '1790...","['1793', '1767', '1773', '1754', '1871', '1795...",['1790'],Australia
1,10,64150,New Zealand Vs Australia 1St Odi,60788.0,Australia tour of New Zealand - 1974 (1973/74),1974-03-30,ODI,5.0,New Zealand,1251.0,...,NaN,New Zealand,bat,Australia,Australia won by 7 wickets (with 85 balls rema...,NaN,"['1456', '1328', '1251', '1326', '1311', '1259...","['1215', '1278', '1243', '1364', '1418', '1277...","['1410', '1419', '1423', '1418', '1422', '1402...",Australia
2,98,65303,Australia Vs New Zealand 4Th Match,60812.0,"Benson & Hedges World Series Cup Australia, In...",1980-12-07,ODI,5.0,New Zealand,1311.0,...,NaN,New Zealand,bat,Australia,Australia won by 4 wickets (with 16 balls rema...,1572.0,"['1566', '1550', '1421', '1625', '1407', '1311...","['1541', '1572', '1364', '1530', '1277', '1646...",[],England
3,107,65311,Australia Vs New Zealand 12Th Match,60812.0,"Benson & Hedges World Series Cup Australia, In...",1981-01-13,ODI,5.0,New Zealand,1444.0,...,NaN,New Zealand,bat,New Zealand,New Zealand won by 1 run,1550.0,"['1550', '1566', '1444', '1408', '1311', '1421...","['1572', '1547', '1364', '1530', '1277', '1646...",[],Australia
4,111,65315,Australia Vs New Zealand 1St Final,60812.0,"Benson & Hedges World Series Cup Australia, In...",1981-01-29,ODI,5.0,New Zealand,1444.0,...,NaN,Australia,bowl,New Zealand,New Zealand won by 78 runs,NaN,"['1550', '1566', '1444', '1421', '1311', '1407...","['1547', '1647', '1361', '1364', '1530', '1572...",['1647'],England

In [20]:
for i in range(len(df1['Toss Winner'])):
    if df1['Toss Winner'][i] == df1['Team1 Name'][i]:
        if df1['Toss Winner Choice'][i]=='bowl':
            df1['Bat First'][i] = 2
        else:
            df1['Bat First'][i] = 1
            
    if df1['Toss Winner'][i] == df1['Team2 Name'][i]:
        if df1['Toss Winner Choice'][i]=='bat':
            df1['Bat First'][i] = 2
        else:
            df1['Bat First'][i] = 1

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/2126693588.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Bat First'][i] = 1
/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/2126693588.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Bat First'][i] = 1

In [21]:
df1['Bat First'].value_counts()

1    2669
Name: Bat First, dtype: int64

In [22]:
df1.columns

Index(['ODI Match No', 'Match ID', 'Match Name', 'Series ID', 'Series Name',
       'Match Date', 'Match Format', 'Team1 ID', 'Team1 Name', 'Team1 Captain',
       'Team1 Runs Scored', 'Team1 Wickets Fell', 'Team1 Extras Rec',
       'Team2 ID', 'Team2 Name', 'Team2 Captain', 'Team2 Runs Scored',
       'Team2 Wickets Fell', 'Team2 Extras Rec', 'Match Venue (Stadium)',
       'Match Venue (City)', 'Match Venue (Country)', 'Umpire 1', 'Umpire 2',
       'Match Referee', 'Toss Winner', 'Toss Winner Choice', 'Match Winner',
       'Match Result Text', 'MOM Player', 'Team1 Playing 11',
       'Team2 Playing 11', 'Debut Players', 'Bat First'],
      dtype='object')

In [23]:
dataset = df1[['Team1 Name','Team2 Name','Match Venue (Stadium)','Match Venue (City)','Match Venue (Country)','Bat First','Match Winner']]

In [24]:
dataset['Winner'] = pd.NA

# Use a conditional statement to set the values in 'Match Winner Encoded' based on the winner
dataset.loc[dataset['Match Winner'] == dataset['Team1 Name'], 'Winner'] = 0
dataset.loc[dataset['Match Winner'] == dataset['Team2 Name'], 'Winner'] = 1

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/4234240329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Winner'] = pd.NA

In [25]:
encoded_data, mapping_index = pd.Series(dataset['Match Venue (City)']).factorize()
print(encoded_data)
print(mapping_index)

[  0   1   2 ... 127 122  10]
Index(['Brisbane', 'Dunedin', 'Melbourne', 'Sydney', 'Auckland', 'Wellington',
       'Adelaide', 'Perth', 'Christchurch', 'Hobart',
       ...
       'Quetta', 'Toronto', 'Belfast', 'Sargodha', 'Rotterdam', 'Basseterre',
       'Brighton', 'Glasgow', 'Doha', 'The Hague'],
      dtype='object', length=128)

In [26]:
# print(mapping_index.get_loc("South Africa"))

In [27]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(dataset['Match Venue (City)'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Abu Dhabi': 0, 'Adelaide': 1, 'Ahmedabad': 2, 'Amritsar': 3, 'Amstelveen': 4, 'Auckland': 5, 'Ballarat': 6, 'Basseterre': 7, 'Belfast': 8, 'Bengaluru': 9, 'Benoni': 10, 'Birmingham': 11, 'Bloemfontein': 12, 'Bogra': 13, 'Bridgetown': 14, 'Brighton': 15, 'Brisbane': 16, 'Bristol': 17, 'Bulawayo': 18, 'Cairns': 19, 'Canberra': 20, 'Canterbury': 21, 'Cape Town': 22, 'Cardiff': 23, 'Centurion': 24, 'Chandigarh': 25, 'Chattogram': 26, 'Chelmsford': 27, 'Chennai': 28, 'Chester-le-Street': 29, 'Christchurch': 30, 'Colombo': 31, 'Cuttack': 32, 'Dambulla': 33, 'Darwin': 34, 'Delhi': 35, 'Derby': 36, 'Dhaka': 37, 'Dharamsala': 38, 'Doha': 39, 'Dubai': 40, 'Dublin': 41, 'Dunedin': 42, 'Durban': 43, 'East London': 44, 'Faisalabad': 45, 'Faridabad': 46, 'Fatullah': 47, 'Galle': 48, 'Glasgow': 49, 'Gqeberha': 50, 'Gros Islet': 51, 'Gujranwala': 52, 'Guwahati': 53, 'Gwalior': 54, 'Hambantota': 55, 'Hamilton': 56, 'Harare': 57, 'Hobart': 58, 'Hyderabad': 59, 'Indore': 60, 'Jaipur': 61, 'Jalandhar': 62, 'Jamshedpur': 63, 'Johannesburg': 64, 'Kandy': 65, 'Kanpur': 66, 'Karachi': 67, 'Kimberley': 68, 'Kingston': 69, 'Kochi': 70, 'Kolkata': 71, 'Kuala Lumpur': 72, 'Lahore': 73, 'Launceston': 74, 'Leeds': 75, 'London': 76, 'Lucknow': 77, 'Mackay': 78, 'Manchester': 79, 'Margao': 80, 'Melbourne': 81, 'Moratuwa': 82, 'Mount Maunganui': 83, 'Multan': 84, 'Mumbai': 85, 'Nagpur': 86, 'Nairobi': 87, 'Napier': 88, 'Nelson': 89, 'North Sound': 90, 'Northampton': 91, 'Nottingham': 92, 'Paarl': 93, 'Perth': 94, 'Peshawar': 95, 'Pietermaritzburg': 96, 'Port of Spain': 97, 'Potchefstroom': 98, 'Providence': 99, 'Pune': 100, 'Queenstown': 101, 'Quetta': 102, 'Raipur': 103, 'Rajkot': 104, 'Ranchi': 105, 'Rawalpindi': 106, 'Rotterdam': 107, 'Sahiwal': 108, 'Sargodha': 109, 'Scarborough': 110, 'Sharjah': 111, 'Sialkot': 112, 'Singapore': 113, 'Southampton': 114, 'Srinagar': 115, "St George's": 116, 'Swansea': 117, 'Sydney': 118, 'Tangier': 119, 'Taunton': 120, 'Taupo': 121, 'The Hague': 122, 'Thiruvananthapuram': 123, 'Toronto': 124, 'Vadodara': 125, 'Visakhapatnam': 126, 'Wellington': 127}

In [28]:
dataset.head()

,Team1 Name,Team2 Name,Match Venue (Stadium),Match Venue (City),Match Venue (Country),Bat First,Match Winner,Winner
0,New Zealand,Australia,Brisbane Cricket Ground,Brisbane,Australia,1,Australia,1
1,New Zealand,Australia,Carisbrook,Dunedin,New Zealand,1,Australia,1
2,New Zealand,Australia,Melbourne Cricket Ground,Melbourne,Australia,1,Australia,1
3,New Zealand,Australia,Sydney Cricket Ground,Sydney,Australia,1,New Zealand,0
4,New Zealand,Australia,Sydney Cricket Ground,Sydney,Australia,1,New Zealand,0

In [29]:
dataset['Match Venue (City)'] = le.transform(dataset['Match Venue (City)'])

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/112407066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Match Venue (City)'] = le.transform(dataset['Match Venue (City)'])

In [30]:
dataset.head()

,Team1 Name,Team2 Name,Match Venue (Stadium),Match Venue (City),Match Venue (Country),Bat First,Match Winner,Winner
0,New Zealand,Australia,Brisbane Cricket Ground,16,Australia,1,Australia,1
1,New Zealand,Australia,Carisbrook,42,New Zealand,1,Australia,1
2,New Zealand,Australia,Melbourne Cricket Ground,81,Australia,1,Australia,1
3,New Zealand,Australia,Sydney Cricket Ground,118,Australia,1,New Zealand,0
4,New Zealand,Australia,Sydney Cricket Ground,118,Australia,1,New Zealand,0

In [31]:
df1['Match Venue (City)'].head()

0     Brisbane
1      Dunedin
2    Melbourne
3       Sydney
4       Sydney
Name: Match Venue (City), dtype: object

In [32]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(dataset['Match Venue (Country)'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)
dataset['Match Venue (Country)'] = le.transform(dataset['Match Venue (Country)'])

{'Australia': 0, 'Bangladesh': 1, 'Canada': 2, 'England': 3, 'India': 4, 'Ireland': 5, 'Kenya': 6, 'Malaysia': 7, 'Morocco': 8, 'Netherlands': 9, 'New Zealand': 10, 'Pakistan': 11, 'Qatar': 12, 'Scotland': 13, 'Singapore': 14, 'South Africa': 15, 'Sri Lanka': 16, 'United Arab Emirates': 17, 'West Indies': 18, 'Zimbabwe': 19}

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/1197528720.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Match Venue (Country)'] = le.transform(dataset['Match Venue (Country)'])

In [33]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(dataset['Match Venue (Stadium)'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)
dataset['Match Venue (Stadium)'] = le.transform(dataset['Match Venue (Stadium)'])

{'AMI Stadium': 0, 'Adelaide Oval': 1, 'Andhra Cricket Association-Visakhapatnam District Cricket Association Stadium': 2, 'Arbab Niaz Stadium': 3, 'Arun Jaitley Stadium': 4, 'Asgiriya Stadium': 5, 'Ayub National Stadium': 6, 'Bangabandhu National Stadium': 7, 'Barabati Stadium': 8, 'Barsapara Cricket Stadium': 9, 'Basin Reserve': 10, 'Bay Oval': 11, 'Beausejour Stadium': 12, 'Bellerive Oval': 13, 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium': 14, 'Boland Bank Park': 15, 'Boland Park': 16, 'Brabourne Stadium': 17, 'Brisbane Cricket Ground': 18, 'Buffalo Park': 19, 'Bundaberg Rum Stadium': 20, 'Burlton Park': 21, 'Captain Roop Singh Stadium': 22, 'Carisbrook': 23, "Cazaly's Stadium": 24, 'Centurion Park': 25, 'Chevrolet Park': 26, 'Chittagong Divisional Stadium': 27, 'Chittagong Stadium': 28, 'City Oval': 29, 'Civil Service Cricket Club': 30, 'Clontarf Cricket Club Ground': 31, 'County Ground': 32, 'Crusaders Ground': 33, 'Davies Park': 34, 'De Beers Diamond Oval': 35, 'Diamond Oval': 36, 'Docklands Stadium': 37, 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 38, 'Dubai International Cricket Stadium': 39, 'Eastern Oval': 40, 'Eden Gardens': 41, 'Eden Park': 42, 'Edgbaston': 43, 'Feroz Shah Kotla': 44, 'Gaddafi Stadium': 45, 'Galle International Stadium': 46, 'Gandhi Sports Complex Ground': 47, 'Gandhi Stadium': 48, 'Goodyear Park': 49, 'Green Park': 50, 'Greenfield International Stadium': 51, 'Gujarat Stadium': 52, 'Gymkhana Club Ground': 53, 'Hagley Oval': 54, 'Harare Sports Club': 55, 'Hazelaarweg': 56, 'Headingley': 57, 'Himachal Pradesh Cricket Association Stadium': 58, 'Holkar Cricket Stadium': 59, 'Ibn-e-Qasim Bagh Stadium': 60, 'Indian Petrochemicals Corporation Limited Sports Complex Ground': 61, 'Indira Priyadarshini Stadium': 62, 'Iqbal Stadium': 63, 'JSCA International Stadium Complex': 64, 'Jade Stadium': 65, 'Jawaharlal Nehru Stadium': 66, 'Jinnah Stadium': 67, 'KD Singh Babu Stadium': 68, 'Kallang Ground': 69, 'Karnataka State Cricket Association Stadium': 70, 'Keenan Stadium': 71, 'Kennington Oval': 72, 'Kensington Oval': 73, 'Khan Shaheb Osman Ali Stadium': 74, 'Khettarama Stadium': 75, 'Kimberley Country Club': 76, 'Kingsmead': 77, 'Kinrara Academy Oval': 78, 'Lal Bahadur Shastri Stadium': 79, 'Lancaster Park': 80, "Lord's": 81, 'M Chinnaswamy Stadium': 82, 'MA Aziz Stadium': 83, 'MA Chidambaram Stadium': 84, 'Madhavrao Scindia Cricket Ground': 85, 'Maharani Usharaje Trust Cricket Ground': 86, 'Maharashtra Cricket Association Stadium': 87, 'Mahinda Rajapaksa International Cricket Stadium': 88, 'Mangaung Oval': 89, 'Manuka Oval': 90, 'Marrara Cricket Ground': 91, 'McLean Park': 92, 'Melbourne Cricket Ground': 93, 'Moti Bagh Stadium': 94, 'Multan Cricket Stadium': 95, 'Municipal Stadium': 96, 'Nahar Singh Stadium': 97, 'Nairobi Club Ground': 98, 'Narayanganj Osmani Stadium': 99, 'Narendra Modi Stadium': 100, 'National Cricket Stadium': 101, 'National Stadium': 102, 'Nehru Stadium': 103, 'New County Ground': 104, 'New Wanderers Stadium': 105, 'Newlands': 106, 'Niaz Stadium': 107, 'North Marine Road Ground': 108, 'North Tasmania Cricket Association Ground': 109, 'North West Cricket Stadium': 110, 'Old Trafford': 111, 'Owen Delany Park': 112, 'P Saravanamuttu Stadium': 113, 'Pallekele International Cricket Stadium': 114, 'Perth Stadium': 115, 'Phoenix County Ground': 116, 'Pindi Club Ground': 117, 'Providence Stadium': 118, 'Punjab Cricket Association IS Bindra Stadium': 119, 'Punjab Cricket Association Stadium': 120, "Queen's Park Oval": 121, 'Queens Sports Club': 122, 'Queenstown Events Centre': 123, 'R Premadasa Stadium': 124, 'Rajiv Gandhi International Stadium': 125, 'Rangiri Dambulla International Stadium': 126, 'Rawalpindi Cricket Stadium': 127, 'Ray Mitchell Oval': 128, 'Reliance Stadium': 129, 'Riverside Ground': 130, 'Sabina Park': 131, 'Sardar Patel Stadium': 132, 'Sardar Vallabhbhai Patel Stadium': 133, 'Sargodha Stadium': 134, 'Saurashtra Cricket Association Stadium': 135, 'Sawai Mansingh Stadium': 136, 'Saxton Oval': 137, 'Sector 16 Stadium': 138, 'Seddon Park': 139, 'Sedgars Park': 140, 'Senwes Park': 141, 'Shaheed Chandu Stadium': 142, 'Shaheed Veer Narayan Singh International Stadium': 143, 'Sharjah Cricket Association Stadium': 144, 'Sharjah Cricket Stadium': 145, 'Sheikh Zayed Stadium': 146, 'Sher-i-Kashmir Stadium': 147, 'Shere Bangla National Stadium': 148, 'Sinhalese Sports Club Ground': 149, 'Sir Vivian Richards Stadium': 150, 'Sophia Gardens': 151, 'Sportpark Westvliet': 152, 'Springbok Park': 153, "St George's Park": 154, "St Helen's": 155, 'St Lawrence Ground': 156, 'SuperSport Park': 157, 'Sydney Cricket Ground': 158, 'The Cooper Associates County Ground': 159, 'The Padang': 160, 'The Rose Bowl': 161, 'The Royal & Sun Alliance County Ground': 162, 'The Wanderers Stadium': 163, 'Titwood': 164, 'Toronto Cricket': 165, 'Trent Bridge': 166, 'Trust Bank Park': 167, 'Tyronne Fernando Stadium': 168, 'University Oval': 169, 'University Stadium': 170, 'VRA Ground': 171, 'Vidarbha Cricket Association Ground': 172, 'Vidarbha Cricket Association Stadium': 173, 'Wankhede Stadium': 174, 'Warner Park': 175, 'West End Park International Cricket Stadium': 176, 'Western Australia Cricket Association Ground': 177, 'Westpac Park': 178, 'Westpac Stadium': 179, 'WestpacTrust Park': 180, 'WestpacTrust Stadium': 181, 'Willowmoore Park': 182, 'Zafar Ali Stadium': 183, 'Zahur Ahmed Chowdhury Stadium': 184}

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/275784692.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Match Venue (Stadium)'] = le.transform(dataset['Match Venue (Stadium)'])

In [34]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(dataset['Team1 Name'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)
dataset['Team1 Name'] = le.transform(dataset['Team1 Name'])

{'Afghanistan': 0, 'Australia': 1, 'Bangladesh': 2, 'England': 3, 'India': 4, 'Netherlands': 5, 'New Zealand': 6, 'Pakistan': 7, 'South Africa': 8, 'Sri Lanka': 9}

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/666843380.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Team1 Name'] = le.transform(dataset['Team1 Name'])

In [35]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(dataset['Team2 Name'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)
dataset['Team2 Name'] = le.transform(dataset['Team2 Name'])

{'Afghanistan': 0, 'Australia': 1, 'Bangladesh': 2, 'England': 3, 'India': 4, 'Netherlands': 5, 'New Zealand': 6, 'Pakistan': 7, 'South Africa': 8, 'Sri Lanka': 9}

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/2398164044.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Team2 Name'] = le.transform(dataset['Team2 Name'])

In [36]:
dataset.head()

,Team1 Name,Team2 Name,Match Venue (Stadium),Match Venue (City),Match Venue (Country),Bat First,Match Winner,Winner
0,6,1,18,16,0,1,Australia,1
1,6,1,23,42,10,1,Australia,1
2,6,1,93,81,0,1,Australia,1
3,6,1,158,118,0,1,New Zealand,0
4,6,1,158,118,0,1,New Zealand,0

In [41]:
dataset = dataset.dropna()

In [46]:
print(dataset.value_counts)

<bound method DataFrame.value_counts of       Team1 Name  Team2 Name  Match Venue (Stadium)  Match Venue (City)  \
0              6           1                     18                  16
1              6           1                     23                  42
2              6           1                     93                  81
3              6           1                    158                 118
4              6           1                    158                 118
...          ...         ...                    ...                 ...
2664           5           0                    171                   4
2665           5           0                    171                   4
2666           5           0                    152                 122
2667           5           0                     56                 107
2668           5           0                    145                 111

      Match Venue (Country) Bat First Match Winner Winner
0                         0         1    Australia      1
1                        10         1    Australia      1
2                         0         1    Australia      1
3                         0         1  New Zealand      0
4                         0         1  New Zealand      0
...                     ...       ...          ...    ...
2664                      9         1  Netherlands      0
2665                      9         1  Afghanistan      1
2666                      9         1  Afghanistan      1
2667                      9         1  Afghanistan      1
2668                     17         1  Afghanistan      1

[2548 rows x 8 columns]>

In [50]:
X = dataset.drop(columns=['Match Winner','Winner','Match Venue (Stadium)','Match Venue (Country)'],axis=1)
y = dataset['Winner']
y=y.astype('int')

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [52]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Define the RandomForestClassifier
rf_classifier = RandomForestClassifier()

# Define the hyperparameter grid to search
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Create the GridSearchCV object
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=7, scoring='accuracy', n_jobs=-1,verbose=1)

# Fit the model with the training data
grid_search.fit(X_train, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_
print("Best Hyperparameters:", best_params)

# Use the best model to make predictions on the test set
best_rf_model = grid_search.best_estimator_
y_pred = best_rf_model.predict(X_test)

# Evaluate the performance of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Display a classification report
print("Classification Report:")
print(classification_report(y_test, y_pred))

Fitting 7 folds for each of 108 candidates, totalling 756 fits
Best Hyperparameters: {'max_depth': 10, 'min_samples_leaf': 2, 'min_samples_split': 10, 'n_estimators': 200}
Accuracy: 0.5886970172684458
Classification Report:
              precision    recall  f1-score   support

           0       0.59      0.54      0.56       314
           1       0.59      0.63      0.61       323

    accuracy                           0.59       637
   macro avg       0.59      0.59      0.59       637
weighted avg       0.59      0.59      0.59       637

### 1st semifinal will be between India and New Zealand in Mumbai and second will be between South Africa and Australia in Kolkata

In [55]:
X_train.head()

      Team1 Name  Team2 Name  Match Venue (City) Bat First
1568           9           4                  66         1
2587           7           8                   5         1
1807           8           4                  24         1
1273           4           3                  92         1
1118           1           3                  76         1

In [84]:
sf1 = pd.Series([6,4,85,1], index=X.columns)
sf2 = pd.Series([8,1,71,1], index=X.columns)
df_copy = X.copy()
df_copy.drop(df_copy.index, inplace=True)
df_copy = df_copy.append(sf1, ignore_index=True)
df_copy = df_copy.append(sf2, ignore_index=True)

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/2657255306.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_copy = df_copy.append(sf1, ignore_index=True)
/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/2657255306.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_copy = df_copy.append(sf2, ignore_index=True)

In [85]:
result1 = grid_search.predict(df_copy)
print(result1)
# print(result2)

[1 0]

In [93]:
sf3 = pd.Series([8,4,2,1],index=X.columns)
df_copy.drop(df_copy.index, inplace=True)
df_copy = df_copy.append(sf3, ignore_index=True)

/var/folders/_8/xfc42_6120n2mkkw2ymrm37r0000gn/T/ipykernel_37017/2493445016.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_copy = df_copy.append(sf3, ignore_index=True)

In [94]:
final_result = grid_search.predict(df_copy)
print(final_result)

[1]

In [96]:
import pickle
# open a file, where you ant to store the data
file = open('random_forest_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(grid_search, file)