In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [97]:
df = pd.read_csv('Task1-data\deliveries.csv')

In [98]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,JM Bairstow,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [100]:
df['runs_off_bat'].unique()

array([0, 6, 1, 4, 2, 3, 5], dtype=int64)

In [101]:
df['wicket_type'].unique()

array([nan, 'caught', 'bowled', 'caught and bowled', 'lbw', 'run out',
       'stumped', 'retired hurt'], dtype=object)

In [102]:
df['bowling_team'].unique()

array(['New Zealand', 'England', 'Netherlands', 'Pakistan', 'Bangladesh',
       'Afghanistan', 'Sri Lanka', 'South Africa', 'India', 'Australia'],
      dtype=object)

In [103]:
df['other_player_dismissed'].unique()

array([nan])

In [104]:
df['runs_off_bat'].value_counts()

0    9181
1    5525
4    1480
2     726
6     418
3      48
5       2
Name: runs_off_bat, dtype: int64

In [105]:
df2 = df[['match_id','innings','venue','batting_team','bowling_team','runs_off_bat']]

In [106]:
df2.head()

,match_id,innings,venue,batting_team,bowling_team,runs_off_bat
0,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,0
1,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6
2,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,1
3,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,1
4,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4

In [107]:
df2.shape

(17380, 6)

In [108]:
df2.isnull().sum()

match_id        0
innings         0
venue           0
batting_team    0
bowling_team    0
runs_off_bat    0
dtype: int64

In [109]:
filtered_df = df2[df2['runs_off_bat'].isin([4, 6])]

In [110]:
filtered_df.shape

(1898, 6)

In [111]:
filtered_df['Total_Boundaries'] = filtered_df.groupby(['match_id'])['runs_off_bat'].transform('count')

C:\Users\NISHIT\AppData\Local\Temp\ipykernel_3188\1991632829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Total_Boundaries'] = filtered_df.groupby(['match_id'])['runs_off_bat'].transform('count')

In [112]:
filtered_df.head()

,match_id,innings,venue,batting_team,bowling_team,runs_off_bat,Total_Boundaries
1,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,65
4,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,65
20,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,65
24,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,65
34,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,65

In [113]:
filtered_df.shape

(1898, 7)

In [114]:
filtered_df_unique = filtered_df.drop_duplicates(subset=['match_id'])

In [115]:
filtered_df_unique.shape

(32, 7)

In [116]:
filtered_df_unique

,match_id,innings,venue,batting_team,bowling_team,runs_off_bat,Total_Boundaries
1,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,65
530,2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,4,60
1092,3,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,4,31
1528,4,1,"Arun Jaitley Stadium, Delhi",South Africa,Sri Lanka,4,105
2123,5,1,"MA Chidambaram Stadium, Chepauk, Chennai",Australia,India,4,35
2692,6,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",New Zealand,Netherlands,4,62
3264,7,1,"Himachal Pradesh Cricket Association Stadium, ...",England,Bangladesh,4,68
3860,8,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Sri Lanka,Pakistan,4,77
4479,9,1,"Arun Jaitley Stadium, Delhi",Afghanistan,India,4,68
4998,11,1,"MA Chidambaram Stadium, Chepauk, Chennai",Bangladesh,New Zealand,4,54
5574,12,1,"Narendra Modi Stadium, Ahmedabad",Pakistan,India,4,52
6026,13,1,"Arun Jaitley Stadium, Delhi",Afghanistan,England,6,56
6572,14,1,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Sri Lanka,Australia,4,51
7062,15,1,"Himachal Pradesh Cricket Association Stadium, ...",Netherlands,South Africa,4,54
7603,16,1,"MA Chidambaram Stadium, Chepauk, Chennai",New Zealand,Afghanistan,4,43
8116,17,1,"Maharashtra Cricket Association Stadium, Pune",Bangladesh,India,4,58
8672,18,1,"M Chinnaswamy Stadium, Bengaluru",Australia,Pakistan,6,88
9281,19,1,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Netherlands,Sri Lanka,4,43
9881,20,1,"Wankhede Stadium, Mumbai",South Africa,England,4,78
10336,21,1,"Himachal Pradesh Cricket Association Stadium, ...",New Zealand,India,4,62
10933,22,1,"MA Chidambaram Stadium, Chepauk, Chennai",Pakistan,Afghanistan,4,57
11563,10,1,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,South Africa,Australia,4,53
12105,23,1,"Wankhede Stadium, Mumbai",South Africa,Bangladesh,4,75
12705,24,1,"Arun Jaitley Stadium, Delhi",Australia,Netherlands,4,70
13158,25,1,"M Chinnaswamy Stadium, Bengaluru",England,Sri Lanka,4,40
13521,26,1,"MA Chidambaram Stadium, Chepauk, Chennai",Pakistan,South Africa,4,60
14101,27,1,"Himachal Pradesh Cricket Association Stadium, ...",Australia,New Zealand,4,97
14733,28,1,"Eden Gardens, Kolkata",Netherlands,Bangladesh,4,42
15291,29,1,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,India,England,4,37
15831,30,1,"Maharashtra Cricket Association Stadium, Pune",Sri Lanka,Afghanistan,4,45
16394,31,1,"Eden Gardens, Kolkata",Bangladesh,Pakistan,4,50
16875,32,1,"Maharashtra Cricket Association Stadium, Pune",South Africa,New Zealand,4,62