In [214]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [215]:
df = pd.read_csv('Task1-data\deliveries.csv')

In [216]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,JM Bairstow,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [218]:
df['runs_off_bat'].unique()

array([0, 6, 1, 4, 2, 3, 5], dtype=int64)

In [219]:
df['wicket_type'].unique()

array([nan, 'caught', 'bowled', 'caught and bowled', 'lbw', 'run out',
       'stumped', 'retired hurt'], dtype=object)

In [220]:
df['bowling_team'].unique()

array(['New Zealand', 'England', 'Netherlands', 'Pakistan', 'Bangladesh',
       'Afghanistan', 'Sri Lanka', 'South Africa', 'India', 'Australia'],
      dtype=object)

In [221]:
df['other_player_dismissed'].unique()

array([nan])

In [222]:
df['runs_off_bat'].value_counts()

0    9181
1    5525
4    1480
2     726
6     418
3      48
5       2
Name: runs_off_bat, dtype: int64

In [223]:
df2 = df[['match_id','innings','venue','batting_team','bowling_team','runs_off_bat']]

In [224]:
df2.head()

,match_id,innings,venue,batting_team,bowling_team,runs_off_bat
0,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,0
1,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6
2,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,1
3,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,1
4,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4

In [225]:
df2.shape

(17380, 6)

In [226]:
df2.isnull().sum()

match_id        0
innings         0
venue           0
batting_team    0
bowling_team    0
runs_off_bat    0
dtype: int64

In [227]:
filtered_df = df2[df2['runs_off_bat'].isin([4, 6])]

In [228]:
filtered_df.shape

(1898, 6)

In [229]:
filtered_df['Total_Boundaries'] = filtered_df.groupby(['match_id'])['runs_off_bat'].transform('count')

C:\Users\NISHIT\AppData\Local\Temp\ipykernel_3188\1991632829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Total_Boundaries'] = filtered_df.groupby(['match_id'])['runs_off_bat'].transform('count')

In [230]:
filtered_df.head()

,match_id,innings,venue,batting_team,bowling_team,runs_off_bat,Total_Boundaries
1,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,65
4,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,65
20,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,65
24,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,65
34,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,65

In [231]:
filtered_df.shape

(1898, 7)

In [232]:
filtered_df_unique = filtered_df.drop_duplicates(subset=['match_id'])

In [233]:
filtered_df_unique.shape

(32, 7)

In [234]:
filtered_df_unique

,match_id,innings,venue,batting_team,bowling_team,runs_off_bat,Total_Boundaries
1,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,65
530,2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,4,60
1092,3,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,4,31
1528,4,1,"Arun Jaitley Stadium, Delhi",South Africa,Sri Lanka,4,105
2123,5,1,"MA Chidambaram Stadium, Chepauk, Chennai",Australia,India,4,35
2692,6,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",New Zealand,Netherlands,4,62
3264,7,1,"Himachal Pradesh Cricket Association Stadium, ...",England,Bangladesh,4,68
3860,8,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Sri Lanka,Pakistan,4,77
4479,9,1,"Arun Jaitley Stadium, Delhi",Afghanistan,India,4,68
4998,11,1,"MA Chidambaram Stadium, Chepauk, Chennai",Bangladesh,New Zealand,4,54
5574,12,1,"Narendra Modi Stadium, Ahmedabad",Pakistan,India,4,52
6026,13,1,"Arun Jaitley Stadium, Delhi",Afghanistan,England,6,56
6572,14,1,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Sri Lanka,Australia,4,51
7062,15,1,"Himachal Pradesh Cricket Association Stadium, ...",Netherlands,South Africa,4,54
7603,16,1,"MA Chidambaram Stadium, Chepauk, Chennai",New Zealand,Afghanistan,4,43
8116,17,1,"Maharashtra Cricket Association Stadium, Pune",Bangladesh,India,4,58
8672,18,1,"M Chinnaswamy Stadium, Bengaluru",Australia,Pakistan,6,88
9281,19,1,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Netherlands,Sri Lanka,4,43
9881,20,1,"Wankhede Stadium, Mumbai",South Africa,England,4,78
10336,21,1,"Himachal Pradesh Cricket Association Stadium, ...",New Zealand,India,4,62
10933,22,1,"MA Chidambaram Stadium, Chepauk, Chennai",Pakistan,Afghanistan,4,57
11563,10,1,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,South Africa,Australia,4,53
12105,23,1,"Wankhede Stadium, Mumbai",South Africa,Bangladesh,4,75
12705,24,1,"Arun Jaitley Stadium, Delhi",Australia,Netherlands,4,70
13158,25,1,"M Chinnaswamy Stadium, Bengaluru",England,Sri Lanka,4,40
13521,26,1,"MA Chidambaram Stadium, Chepauk, Chennai",Pakistan,South Africa,4,60
14101,27,1,"Himachal Pradesh Cricket Association Stadium, ...",Australia,New Zealand,4,97
14733,28,1,"Eden Gardens, Kolkata",Netherlands,Bangladesh,4,42
15291,29,1,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,India,England,4,37
15831,30,1,"Maharashtra Cricket Association Stadium, Pune",Sri Lanka,Afghanistan,4,45
16394,31,1,"Eden Gardens, Kolkata",Bangladesh,Pakistan,4,50
16875,32,1,"Maharashtra Cricket Association Stadium, Pune",South Africa,New Zealand,4,62

In [235]:
filtered_df_unique.shape

(32, 7)

In [236]:
filtered_df_unique = filtered_df_unique.drop(columns=['match_id','innings',])

In [237]:
filtered_df_unique = filtered_df_unique.drop(columns=['runs_off_bat'])

In [238]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
lst = ['venue','batting_team','bowling_team']
for i in lst:
    filtered_df_unique[i] = le.fit_transform(filtered_df_unique[i])
    le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    print(le_name_mapping)

{'Arun Jaitley Stadium, Delhi': 0, 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow': 1, 'Eden Gardens, Kolkata': 2, 'Himachal Pradesh Cricket Association Stadium, Dharamsala': 3, 'M Chinnaswamy Stadium, Bengaluru': 4, 'MA Chidambaram Stadium, Chepauk, Chennai': 5, 'Maharashtra Cricket Association Stadium, Pune': 6, 'Narendra Modi Stadium, Ahmedabad': 7, 'Rajiv Gandhi International Stadium, Uppal, Hyderabad': 8, 'Wankhede Stadium, Mumbai': 9}
{'Afghanistan': 0, 'Australia': 1, 'Bangladesh': 2, 'England': 3, 'India': 4, 'Netherlands': 5, 'New Zealand': 6, 'Pakistan': 7, 'South Africa': 8, 'Sri Lanka': 9}
{'Afghanistan': 0, 'Australia': 1, 'Bangladesh': 2, 'England': 3, 'India': 4, 'Netherlands': 5, 'New Zealand': 6, 'Pakistan': 7, 'South Africa': 8, 'Sri Lanka': 9}

In [240]:
filtered_df_unique.rename(columns={'batting_team': 'Team 1', 'bowling_team': 'Team 2'}, inplace=True)

In [241]:
filtered_df_unique.head()

      venue  Team 1  Team 2  Total_Boundaries
1         7       3       6                65
530       8       7       5                60
1092      3       0       2                31
1528      0       8       9               105
2123      5       1       4                35

In [242]:
X = filtered_df_unique.drop(columns='Total_Boundaries')
y = filtered_df_unique['Total_Boundaries']

In [243]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

In [244]:
import xgboost as xgb
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import mean_squared_error,r2_score


param_grid = {
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 4, 5],
    'n_estimators': [100, 200, 300]
}

xg_reg = xgb.XGBRegressor(objective='reg:squarederror')

grid_search = GridSearchCV(estimator=xg_reg, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5)

grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
print(f'Best Hyperparameters: {best_params}')

best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Root Mean Squared Error on Test Set:", np.sqrt(mse))

Best Hyperparameters: {'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 100}
Root Mean Squared Error on Test Set: 17.616436951318864

# We are assuming the final is between India and South Africa in Narendra Modi Stadium, Ahmedabad(pre-decided).

In [253]:
new_data = pd.DataFrame({'venue': [7], 'Team 1': [4], 'Team 2': [8]})
y_pred = best_model.predict(new_data)
y_pred

array([60.26665], dtype=float32)

# According to our model, the Total Boundaries will be approximately 60 (4's and 6's Together) in whole match.