In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Task1-data\deliveries.csv')

In [3]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,JM Bairstow,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [5]:
df['runs_off_bat'].unique()

array([0, 6, 1, 4, 2, 3, 5], dtype=int64)

In [6]:
df['wicket_type'].unique()

array([nan, 'caught', 'bowled', 'caught and bowled', 'lbw', 'run out',
       'stumped', 'retired hurt'], dtype=object)

In [7]:
df['bowling_team'].unique()

array(['New Zealand', 'England', 'Netherlands', 'Pakistan', 'Bangladesh',
       'Afghanistan', 'Sri Lanka', 'South Africa', 'India', 'Australia'],
      dtype=object)

In [8]:
df['other_player_dismissed'].unique()

array([nan])

In [9]:
df['runs_off_bat'].value_counts()

runs_off_bat
0    9181
1    5525
4    1480
2     726
6     418
3      48
5       2
Name: count, dtype: int64

## I'm solving the second problem of our Task-1:

## The problem statement is "Total No. of boundaries in World Cup Final Match"

In [10]:
df2 = df[['match_id','innings','venue','batting_team','bowling_team','runs_off_bat']]

In [11]:
df2.head()

,match_id,innings,venue,batting_team,bowling_team,runs_off_bat
0,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,0
1,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6
2,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,1
3,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,1
4,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4

In [12]:
df2.shape

(17380, 6)

In [13]:
df2.isnull().sum()

match_id        0
innings         0
venue           0
batting_team    0
bowling_team    0
runs_off_bat    0
dtype: int64

### I'm filtering out rows which contains only boundaries, i.e. 4 and 6 on a particular ball.

In [14]:
filtered_df = df2[df2['runs_off_bat'].isin([4, 6])]

In [15]:
filtered_df.shape

(1898, 6)

### Counting the total number of boundaries by grouping match_id and innings, and the result is stored in new column name 'Total_Boundaries'.

In [16]:
filtered_df['Total_Boundaries'] = filtered_df.groupby(['match_id','innings'])['runs_off_bat'].transform('count')

C:\Users\Harshneel\AppData\Local\Temp\ipykernel_32436\3508572072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Total_Boundaries'] = filtered_df.groupby(['match_id','innings'])['runs_off_bat'].transform('count')

In [17]:
filtered_df.head()

,match_id,innings,venue,batting_team,bowling_team,runs_off_bat,Total_Boundaries
1,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,27
4,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,27
20,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,27
24,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,27
34,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,4,27

In [18]:
filtered_df.shape

(1898, 7)

### Removing all the duplicate rows so that I can get total boundaries per match per innings uniquely.

In [19]:
filtered_df_unique = filtered_df.drop_duplicates(subset=['match_id','innings'])

In [20]:
filtered_df_unique.shape

(64, 7)

In [21]:
filtered_df_unique

,match_id,innings,venue,batting_team,bowling_team,runs_off_bat,Total_Boundaries
1,1,1,"Narendra Modi Stadium, Ahmedabad",England,New Zealand,6,27
304,1,2,"Narendra Modi Stadium, Ahmedabad",New Zealand,England,4,38
530,2,1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Pakistan,Netherlands,4,36
836,2,2,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Netherlands,Pakistan,4,24
1092,3,1,"Himachal Pradesh Cricket Association Stadium, ...",Afghanistan,Bangladesh,4,17
...,...,...,...,...,...,...,...
16120,30,2,"Maharashtra Cricket Association Stadium, Pune",Afghanistan,Sri Lanka,4,24
16394,31,1,"Eden Gardens, Kolkata",Bangladesh,Pakistan,4,22
16663,31,2,"Eden Gardens, Kolkata",Pakistan,Bangladesh,4,28
16875,32,1,"Maharashtra Cricket Association Stadium, Pune",South Africa,New Zealand,4,41
17166,32,2,"Maharashtra Cricket Association Stadium, Pune",New Zealand,South Africa,4,21

In [22]:
filtered_df_unique.shape

(64, 7)

In [23]:
filtered_df_unique = filtered_df_unique.drop(columns=['match_id','innings'])

In [24]:
filtered_df_unique = filtered_df_unique.drop(columns=['runs_off_bat'])

### Applying Label-Encoder on  venue , batting_team , bowling_team  columns

In [25]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
lst = ['venue','batting_team','bowling_team']
for i in lst:
    filtered_df_unique[i] = le.fit_transform(filtered_df_unique[i])
    le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    print(le_name_mapping)

{'Arun Jaitley Stadium, Delhi': 0, 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow': 1, 'Eden Gardens, Kolkata': 2, 'Himachal Pradesh Cricket Association Stadium, Dharamsala': 3, 'M Chinnaswamy Stadium, Bengaluru': 4, 'MA Chidambaram Stadium, Chepauk, Chennai': 5, 'Maharashtra Cricket Association Stadium, Pune': 6, 'Narendra Modi Stadium, Ahmedabad': 7, 'Rajiv Gandhi International Stadium, Uppal, Hyderabad': 8, 'Wankhede Stadium, Mumbai': 9}
{'Afghanistan': 0, 'Australia': 1, 'Bangladesh': 2, 'England': 3, 'India': 4, 'Netherlands': 5, 'New Zealand': 6, 'Pakistan': 7, 'South Africa': 8, 'Sri Lanka': 9}
{'Afghanistan': 0, 'Australia': 1, 'Bangladesh': 2, 'England': 3, 'India': 4, 'Netherlands': 5, 'New Zealand': 6, 'Pakistan': 7, 'South Africa': 8, 'Sri Lanka': 9}

In [26]:
filtered_df_unique.head()

      venue  batting_team  bowling_team  Total_Boundaries
1         7             3             6                27
304       7             6             3                38
530       8             7             5                36
836       8             5             7                24
1092      3             0             2                17

In [27]:
X = filtered_df_unique.drop(columns='Total_Boundaries')
y = filtered_df_unique['Total_Boundaries']

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

### Applying Ridge regression on my data to predict the boundaries of final match

In [30]:
from sklearn.linear_model import Ridge
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

In [31]:
alphas = [0.001, 0.01, 0.1, 1.0, 10.0,3.0]
param_grid = {'alpha': alphas}

grid_search = GridSearchCV(Ridge(), param_grid, cv=5)
grid_search.fit(X_train, y_train)

best_alpha = grid_search.best_params_['alpha']
best_ridge = grid_search.best_estimator_

In [34]:
best_alpha

10.0

In [35]:
best_ridge

Ridge(alpha=10.0)

In [32]:
y_pred = best_ridge.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

In [33]:
rmse

12.436907015754246

## We are assuming the final is between India and South Africa in Narendra Modi Stadium, Ahmedabad(pre-decided).

In [36]:
# 4 represents India
# 8 represents South Africa
# 7 in venue represents Narendra Modi Stadium, Ahmedabad
new_data1 = pd.DataFrame({'venue': [7], 'batting_team': [4], 'bowling_team': [8]})
new_data2 = pd.DataFrame({'venue': [7], 'batting_team': [8], 'bowling_team': [4]})

y_pred1 = best_ridge.predict(new_data1)
print("Boundaries when India bats:", y_pred1)
y_pred2 = best_ridge.predict(new_data2)
print("Boundaries when South Africa bats:",y_pred2)
print("Total Boundaries in whole match:", y_pred1+y_pred2)

Boundaries when India bats: [29.67489908]
Boundaries when South Africa bats: [31.55646656]
Total Boundaries in whole match: [61.23136564]

## According to our model, the Boundaries when India bats against South Africa is around 29(4's and 6's Together) and when South Africa bats against India is around 31(4's and 6's Together). So overall the boundaries will be approximately 60 (4's and 6's Together) in whole match.